<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Banjo-Tooie Bingo</title>

    <!-- Style -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>		
    <link href="{{ url_for('static', filename='css/bingo.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='6.png') }}"/>

    <style>
	body{
		 padding-right: 30px;
	  padding-left: 30px;
	   padding-top: 5px;
	   color:black;
	
	}
	#bingo td {
	background:#000811;
	border:2px #0a245a solid;
	color:#3c70df;
	font-size:200%;
	font-weight:700;
	height:85px;
	width:95px;
	max-width:95px;
	text-align:center;
	line-height: 120%;

}

#bingo td:hover {
	background:#1448b3;
	color:#fff;
}
	
#bingo tr td.greensquare {
	background:#051;
}

#bingo tr td.greensquare.hover {
	background:#072;
}	

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}	

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}	
	
	</style>
</head>
<body>
	<div class="center">
	 <img src="{{ url_for('static', filename='logo.png') }}" style="height:150px;" alt="battle"class="center">
	 <br>

	<label class="switch">
		<input id = "checkbox" type="checkbox" disabled onclick="active()" >
		<span class="slider round"></span>
	</label>
	<br>

<div id="info"  class="collapse" role="dialog">
	<div class="form-inline" >
	<button onclick="start_game()" class="btn btn-default" style="width:150px;">Generate</button>
	<input type="number" id="seed" min="0" max="999999" style="width:150px;" class="form-control">
	</div>
</div>
<br>
<div class="form-inline" >
<button onclick="" class="btn btn-default" data-toggle="modal" data-target="#rules" style="width:150px;">Rules</button>		
	<select id="p1color" name="player" onchange="color_pick(this.value);" class="form-control" style="width:150px;">
	  <option value="Spectate">Spectate</option>
	  <option value="red">Red</option>  
	  <option value="blue">Blue</option> 	   
	</select> 		
	</div>



<div class="container">	
			<div id="rules" class="modal fade" role="dialog">
			  <div class="modal-dialog modal-lg">

				<!-- Modal content-->
				<div class="modal-content">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Bingo Battle Rules</h4>
				  </div>
				  <div class="modal-body">
					<p> Bingo Battle is a new type of bingo where 2 players face off with their gameplay and routing skills in a direct battle. By stratigizing and routing goals given,a true battle done between the players.</p>
					<p> There are 7 Rounds to a Battle <br> First to win 4 Rounds wins the Battle</p>
					<p> There are 3 goals shown per round. You must chose to perform 2 of the 3 goals to perform. Once you do 2, you win that round, and the next round will begin.</p>
					<p> It is your choice to figure out which goals presented will be faster for you given the moves that you got earlyer on. Some goals will be very fast for one player, but slow for another. Its all up to the player to quickly figure out what to do in order to win.</p>
					<p> How to Begin : </p>
					<p> The Gray/Blue switch indicates that a game is ongoing if it is blue. When gray nothing is occuring.</p>
					<p> Each player must choice a color, otherwise they are a spectator. Use the drop down box to pick Red (left) or blue (right)</p>
					<p> Type a Seed into the seed box, must be 1 - 999999. Press Generate to create a card and teh round will begin.</p>
					<p> You will input goals on your side of the board. When you get a goal you will click on the square and it will mark it. Once you get 2 in a round it will automaticly progress to the next round.</p>
					<p> Have Fun!</p>
				  </div>

				</div>

			  </div>
			</div>
		</div>	

<div class="grid-container">

    <div id="player1" class="grid-child player1">
        <img src="{{ url_for('static', filename='4.png') }}" style="height:50px;" alt="red"class="center">
		
    </div>

    <div id="player2" class="grid-child player2">
        <img src="{{ url_for('static', filename='2.png') }}" style="height:50px" alt="blue" class="center">
		
    </div>
  
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();

</script>

<script>
	playercolor = 'purple';
	function color_pick(p){
    playercolor = p;
	
/*if (p == "red"){
	
		document.getElementById("player1").style.visibility = 'visible';
		document.getElementById("player2").style.visibility = 'hidden';		
	}
	if (p == "blue"){
		document.getElementById("player2").style.visibility = 'visible';
		document.getElementById("player1").style.visibility = 'hidden';		
	}
	if (p == "Spectate"){
		document.getElementById("player2").style.visibility = 'visible';
		document.getElementById("player1").style.visibility = 'visible';		
	} */		
}


	$('td').click(function(){console.log(playercolor);});


	var goals = [];
	
	var p1 =[];
	
	var p2 =[];

	var c1 =[];
	
	var c2 =[];	
		
	var bingoList = [];
	
	var game_active = 0;
	
	function active(){	
		if (game_active ==0 ){
		 game_active =1;
		 
		 
		 
		}
		else
		{
		game_active = 0;
		}	
	}
	
	
	
bingoList[1] = [
{name: "All Cheato pages in MT", types: ["MT", "Cheato pages"]},
{name: "All glowbos in MT", types: ["MT", "Glowbos"]},
{name: "3 jiggies in MT", types: ["MT","MT jiggies"]},
{name: "Golden Goliath Jiggy", types: ["MT"]},
{name: "Relic Jiggy", types: ["MT"]},
{name: "Dilberta Jiggy", types: ["GGM"]},
{name: "Power Hut Jiggy", types: ["GGM"]},
{name: "3 Glowbos", types:["Global", "Glowbos"]},
{name: "4 Cheato pages", types:["Global", "Cheato pages"]},
{name: "5 Empty Honeycombs", types: ["Global", "Honeycombs"]},
{name: "2 jiggies in GGM", types: ["GGM", "GGM jiggies"]},
{name: "All Honeycombs in GGM", types: ["GGM", "Honeycombs"]},
];


bingoList[2] = [
{name: "All Honeycombs in MT", types: ["MT", "Honeycombs"]},
{name: "4 jiggies in MT", types: ["MT","MT jiggies"]},
{name: "5 jiggies in MT", types: ["MT","MT jiggies"]},
{name: "3 jiggies in GGM", types: ["GGM", "GGM jiggies"]},
{name: "4 jiggies in GGM", types: ["GGM", "GGM jiggies"]},
{name: "3 jiggies in WW", types: ["WW", "WW jiggies"]},
{name: "Inferno jiggy", types: ["WW", "WW jiggies"]},
{name: "All Honeycombs in WW", types: ["WW", "Honeycombs"]},
{name: "5 Glowbos", types:["Global", "Glowbos"]},
{name: "6 Cheato pages", types:["Global", "Cheato pages"]},
{name: "7 Empty Honeycombs", types: ["Global", "Honeycombs"]},
];

bingoList[3] = [
{name: "5 jiggies in MT", types: ["MT jiggies"]},
{name: "4 jiggies in GGM", types: ["GGM jiggies"]},
{name: "3 jiggies in WW", types: ["WW jiggies"]},
{name: "Inferno jiggy", types: ["WW jiggies"]},
{name: "All Honeycombs in WW", types: ["Round 3 previous level", "Honeycombs"]},
{name: "1 jiggy in JRL", types: ["JRL", "JRL jiggies"]},
{name: "All glowbos in JRL", types: ["JRL", "Glowbos"]},
{name: "1 jiggy in HFP", types: ["HFP", "HFP jiggies"]},
{name: "All glowbos in HFP", types: ["HFP", "Glowbos"]},
{name: "Stub Biggafoot's Toe", types: ["HFP"]},
{name: "7 Glowbos", types:["Global", "Glowbos"]},
{name: "7 Cheato pages", types:["Global", "Cheato pages"]},
{name: "8 health BK", types: ["Global", "Honeycombs"]},
{name: "4 trebleclefs", types: ["Global", "Trebleclefs"]},
];

bingoList[4] = [
{name: "6 jiggies in MT", types: ["MT jiggies"]},
{name: "5 jiggies in GGM", types: ["GGM jiggies"]},
{name: "Ice Train jiggy", types: ["HFP jiggies"]},
{name: "All Cheato Pages in HFP", types: ["Cheato pages"]},
{name: "Dragon Kazooie", types: []},
{name: "Chris P. Bacon Jiggy", types: []},
{name: "Old King Coal Jiggy", types: ["Train"]},
{name: "Mr. Patch Jiggy", types: ["Bosses"]},
{name: "Defeat Terry", types: ["TDL","TDL jiggies"]},
{name: "Enlarge the Small Styracosaurus", types: ["TDL"]},
{name: "Terry Jiggy", types: ["TDL", "Bosses"]},
{name: "All Notes in TDL", types: ["TDL", "Notes"]},
{name: "Oogle Boogle Jiggy", types: ["TDL", "TDL jiggies"]},
{name: "Trash Can Jiggy", types: ["CCL", "CCL jiggies"]},
{name: "3 jiggies in CCL", types: ["CCL","CCL jiggies"]},
{name: "Zubba's Minigame Jiggy", types: ["CCL", "CCL jiggies"]},
{name: "All jinjos in IoH/SM", types: ["Jinjos"]},
{name: "5 Trebleclefs", types:["Global", "Trebleclefs"]},
{name: "9 Glowbos", types:["Global", "Glowbos"]},
{name: "8 Cheato pages", types:["Global", "Cheato pages"]},
{name: "10 honeycombs", types: ["Global", "Honeycombs"]},
{name: "6 trebleclefs", types: ["Global", "Trebleclefs"]},
{name: "4 Train Switches", types: ["Global","Train"]},
{name: "Kill 7 Minjos", types: ["Global","Minjos"]}
];


bingoList[5] = [
{name: "6 Jiggies in CCL", types: ["CCL", "jiggies"]},
{name: "Learn Snooze Pack", types: ["Moves", "GI"]},
{name: "Boggy’s Kids Jiggy", types: ["WW"]},
{name: "All Train Switches", types: ["Train", "Global"]},
{name: "Hatch Heggy’s 3 Eggs", types: ["Bash", "hatch"]},
{name: "All Jinjos in GGM, JRL, and IoH/SM", types: ["Jinjos", "GGM", "JRL"]},
{name: "Clinkers Cavern Jiggy", types: ["GI"]},
{name: "Sabreman Jiggy", types: ["HFP"]},
{name: "1 Jiggy in Every Level", types: ["Global", "jiggies"]},
{name: "Learn Shack Pack", types: ["Moves", "HFP"]},
{name: "All Cheato Pages in WW", types: ["Cheatos", "WW"]},
{name: "13 Glowbos", types: ["Glowbo", "Global"]},
{name: "All CP, HC, and Glowbos in GI", types: ["GI", "Cheatos", "Glowbos"]},
{name: "8 Trebleclefs", types: ["Global"]},
{name: "Dodgem Dome Jiggy", types: ["WW"]},
{name: "Twinkly Packaging Jiggy", types: ["GI"]},
{name: "Icicle Grotto CP w/ Shack Pack", types: ["HFP", "Cheato", "Moves"]},
{name: "Defeat 6 Bosses", types: ["Bosses"]},
{name: "Learn Glide", types: ["Moves", "HFP"]},
{name: "8 Jiggies in GGM", types: ["GGM", "jiggies"]},
{name: "Oil Drill Jiggy", types: ["HFP", "GI"]},
{name: "12 Cheato Pages", types: ["Cheatos", "Global"]},
{name: "Jelly Castle Jiggy as Banjo", types: ["CCL", "Moves"]},
{name: "Canary Mary Jiggy & CP in CCL", types: ["GGM", "CCL", "Cheatos"]},
{name: "6 Jiggies in HFP", types: ["HFP", "jiggies"]},
{name: "6 Jiggies in GI", types: ["GI", "jiggies"]},
{name: "Terry’s Kids Jiggy", types:["TDL", "hatch"]},
{name: "6 Jiggies in WW", types: ["WW", "jiggies"]},
{name: "8 Jiggies in CCL", types: ["CCL", "jiggies"]},
{name: "1 Cheato Page in Every Level", types: ["Global", "Cheatos"]},
{name: "5 Jiggies in JRL", types: ["JRL", "jiggies"]},
{name: "Worker Jiggy in GI", types: ["GI"]},
{name: "Hatch 7 Eggs", types: ["hatch", "Global", "Over"]},
]

bingoList[6] = [
{name: "6 Jiggies in CCL", types: ["CCL", "jiggies"]},
{name: "Learn Snooze Pack", types: ["Moves", "GI"]},
{name: "Boggy’s Kids Jiggy", types: ["WW"]},
{name: "All Train Switches", types: ["Train", "Global"]},
{name: "Hatch Heggy’s 3 Eggs", types: ["Bash", "hatch"]},
{name: "All Jinjos in GGM, JRL, and IoH/SM", types: ["Jinjos", "GGM", "JRL"]},
{name: "Clinkers Cavern Jiggy", types: ["GI"]},
{name: "Sabreman Jiggy", types: ["HFP"]},
{name: "1 Jiggy in Every Level", types: ["Global", "jiggies"]},
{name: "Learn Shack Pack", types: ["Moves", "HFP"]},
{name: "All Cheato Pages in WW", types: ["Cheatos", "WW"]},
{name: "13 Glowbos", types: ["Glowbo", "Global"]},
{name: "All CP, HC, and Glowbos in GI", types: ["GI", "Cheatos", "Glowbos"]},
{name: "8 Trebleclefs", types: ["Global"]},
{name: "Dodgem Dome Jiggy", types: ["WW"]},
{name: "Twinkly Packaging Jiggy", types: ["GI"]},
{name: "Icicle Grotto CP w/ Shack Pack", types: ["HFP", "Cheato", "Moves"]},
{name: "Defeat 6 Bosses", types: ["Bosses"]},
{name: "Learn Glide", types: ["Moves", "HFP"]},
{name: "8 Jiggies in GGM", types: ["GGM", "jiggies"]},
{name: "Oil Drill Jiggy", types: ["HFP", "GI"]},
{name: "12 Cheato Pages", types: ["Cheatos", "Global"]},
{name: "Jelly Castle Jiggy as Banjo", types: ["CCL", "Moves"]},
{name: "Canary Mary Jiggy & CP in CCL", types: ["GGM", "CCL", "Cheatos"]},
{name: "6 Jiggies in HFP", types: ["HFP", "jiggies"]},
{name: "6 Jiggies in GI", types: ["GI", "jiggies"]},
{name: "Terry’s Kids Jiggy", types:["TDL", "hatch"]},
{name: "6 Jiggies in WW", types: ["WW", "jiggies"]},
{name: "8 Jiggies in CCL", types: ["CCL", "jiggies"]},
{name: "1 Cheato Page in Every Level", types: ["Global", "Cheatos"]},
{name: "5 Jiggies in JRL", types: ["JRL", "jiggies"]},
{name: "Worker Jiggy in GI", types: ["GI"]},
{name: "Hatch 7 Eggs", types: ["hatch", "Global", "Over"]},
]

bingoList[7] = [
{name: "6 Jiggies in CCL", types: ["CCL", "jiggies"]},
{name: "Learn Snooze Pack", types: ["Moves", "GI"]},
{name: "Boggy’s Kids Jiggy", types: ["WW"]},
{name: "All Train Switches", types: ["Train", "Global"]},
{name: "Hatch Heggy’s 3 Eggs", types: ["Bash", "hatch"]},
{name: "All Jinjos in GGM, JRL, and IoH/SM", types: ["Jinjos", "GGM", "JRL"]},
{name: "Clinkers Cavern Jiggy", types: ["GI"]},
{name: "Sabreman Jiggy", types: ["HFP"]},
{name: "1 Jiggy in Every Level", types: ["Global", "jiggies"]},
{name: "Learn Shack Pack", types: ["Moves", "HFP"]},
{name: "All Cheato Pages in WW", types: ["Cheatos", "WW"]},
{name: "13 Glowbos", types: ["Glowbo", "Global"]},
{name: "All CP, HC, and Glowbos in GI", types: ["GI", "Cheatos", "Glowbos"]},
{name: "8 Trebleclefs", types: ["Global"]},
{name: "Dodgem Dome Jiggy", types: ["WW"]},
{name: "Twinkly Packaging Jiggy", types: ["GI"]},
{name: "Icicle Grotto CP w/ Shack Pack", types: ["HFP", "Cheato", "Moves"]},
{name: "Defeat 6 Bosses", types: ["Bosses"]},
{name: "Learn Glide", types: ["Moves", "HFP"]},
{name: "8 Jiggies in GGM", types: ["GGM", "jiggies"]},
{name: "Oil Drill Jiggy", types: ["HFP", "GI"]},
{name: "12 Cheato Pages", types: ["Cheatos", "Global"]},
{name: "Jelly Castle Jiggy as Banjo", types: ["CCL", "Moves"]},
{name: "Canary Mary Jiggy & CP in CCL", types: ["GGM", "CCL", "Cheatos"]},
{name: "6 Jiggies in HFP", types: ["HFP", "jiggies"]},
{name: "6 Jiggies in GI", types: ["GI", "jiggies"]},
{name: "Terry’s Kids Jiggy", types:["TDL", "hatch"]},
{name: "6 Jiggies in WW", types: ["WW", "jiggies"]},
{name: "8 Jiggies in CCL", types: ["CCL", "jiggies"]},
{name: "1 Cheato Page in Every Level", types: ["Global", "Cheatos"]},
{name: "5 Jiggies in JRL", types: ["JRL", "jiggies"]},
{name: "Worker Jiggy in GI", types: ["GI"]},
{name: "Hatch 7 Eggs", types: ["hatch", "Global", "Over"]},
]


var roundtemp =[]
var round =[];
	round[1] = [];
	round[2] = [];
	round[3] = [];
	round[4] = [];
	round[5] = [];
	round[6] = [];
	round[7] = [];
	
var goal_check = [{"name" : "MT jiggies","data":0},{"name" : "GGM jiggies","data":0},{"name" : "WW jiggies","data":0},{"name" : "Cheato pages","data":0},{"name" : "Glowbos","data":0},{"name" : "Honeycombs","data":0},{"name" : "Trebleclefs","data":0}]

 
 
 	
socket.on('startgame', function(msg) {
	
	document.getElementById("seed").value = msg.data;	
	
	if (msg.start == 1)
	{
	document.getElementById("checkbox").checked = true;
	game_active = 1;
	$(".collapse").collapse('hide');
	}
	getRandom();
});


socket.on('load', function(msg) {
	
	if (msg.start == 1)
	{
	document.getElementById("checkbox").checked = true;
	game_active = 1;
	$(".collapse").collapse('hide');
	}
	else
	{
	document.getElementById("checkbox").checked = false;
	game_active = 0;
	$(".collapse").collapse('show');
	}
	
	
	
	console.log(msg);
	document.getElementById("seed").value = msg.seed;			
	getRandom();
	
	for (var a = 0; a < 22; a++) 
	{
		if (msg.player1[a] != null){
			document.getElementById("player1 cell "+a).style.backgroundColor = msg.player1[a];
		}
		if (msg.player2[a] != null){
			document.getElementById("player2 cell "+a).style.backgroundColor = msg.player2[a];
		}
		if (msg.c1[a] != null){
			document.getElementById("player1 cell "+a).style.textDecoration = "underline";
		}
		if (msg.c2[a] != null){
			document.getElementById("player2 cell "+a).style.textDecoration = "underline";
		}		
		
	}
	

	check_round();
});
 
function start_game()
{ 
 socket.emit('start', {'data': parseInt(document.getElementById("seed").value),"start": 1});

}
 
 
 function getRandom() {
	
	try {
	document.getElementById("player1").removeChild(document.getElementById("bingo"));
	document.getElementById("player2").removeChild(document.getElementById("bingo"));
	}
	catch(err) {
	
	}
	//create a list of goals that are balanced
	
	// gen round 1
	// get 3 that dont have overlapping tags

	var SEED = parseInt(document.getElementById("seed").value);
	SEED = Math.floor(59153827743/(SEED + 1));
	
	goal_check = [{"name" : "MT jiggies","data":0},{"name" : "GGM jiggies","data":0},{"name" : "WW jiggies","data":0},{"name" : "Cheato pages","data":0},{"name" : "Glowbos","data":0},{"name" : "Honeycombs","data":0},{"name" : "Trebleclefs","data":0}]

	
	
for (var a = 1; a< 8; a++){
	
	var r11 = (SEED * a)%10;
	var r12 = Math.floor(((SEED * a)/100))%10;
	var r13 = Math.floor(((SEED * a)/1000))%10;
	
	roundtemp = bingoList[a].slice();
	

	//loop and delete all things that overlap
	
	//delete goals based on previous data
	
	if(a<5){
		for (var i = 0; i < roundtemp.length; i++) {
				
				for (var j = 0; j < bingoList[a][i].types.length; j++) {
					for (var k = 0; k < goal_check.length; k++) {
					if (bingoList[a][i].types[j] == goal_check[k].name && goal_check[k].data == 1)
						{
						roundtemp[i] = null;
						console.log("deleteing: " + goal_check[k].name);
						}
					}				
				}
		}	
	}
	if(a>5){
		for (var i = 0; i < roundtemp.length; i++) {
				
				for (var j = 5; j < 7; j++) {
					for (var k = 0; k < round[j].length; k++) {
					if (bingoList[a][i].name == round[j][k].name )
						{
						roundtemp[i] = null;
						console.log("deleteing: " + round[j][k].name);
						}
					}				
				}
		}	
	}	
	
	
	while( roundtemp[r11] == null )
	{
	r11 = (r11 + 1)%10;
	}
	round[a][0]= roundtemp[r11];	
	console.log(round[a][0]);		
	console.log(bingoList[a]);
	
	
	for (var i = 0; i < roundtemp.length; i++) {
			
			for (var j = 0; j < bingoList[a][i].types.length; j++) {
				for (var k = 0; k < round[a][0].types.length; k++) {
				if (bingoList[a][i].types[j] == round[a][0].types[k])
					{
					roundtemp[i] = null;
					}
				}				
			}
	}
	console.log(roundtemp);
	
	//grab 2nd
	
	while( roundtemp[r12] == null )
	{
	r12 = (r12 + 1)%10;
	}
	
	round[a][1]= roundtemp[r12];
	console.log(round[a][1]);
	
	for (var i = 0; i < roundtemp.length; i++) {
			
			for (var j = 0; j < bingoList[a][i].types.length; j++) {
				for (var k = 0; k < round[a][1].types.length; k++) {
				if (bingoList[a][i].types[j] == round[a][1].types[k])
					{
					roundtemp[i] = null;
					}
				}				
			}
	}
	console.log(roundtemp);	
	
	//grab 3nd
	console.log(r13);
	while( roundtemp[r13] == null )
	{
	r13 = (r13 + 1)%10;
	}
	
	round[a][2]= roundtemp[r13];	
	console.log(round[a][2]);
		if(a<5){
		for (var i = 0; i < round[a].length; i++) {
				
				for (var j = 0; j < round[a][i].types.length; j++) {
					for (var k = 0; k < goal_check.length; k++) {
					if (round[a][i].types[j] == goal_check[k].name)
						{
						goal_check[k].data = 1;
						}
					}				
				}
		}	
	}
	
	}
	
	
	
	
	
	
	
	tableCreate("player1");
	tableCreate("player2");
 }



function tableCreate(name) {
	var a = 0;
    var place = document.getElementById(name);
    var tbl = document.createElement('table');
	tbl.setAttribute('id','bingo')	
    var tbdy = document.createElement('tbody');
    for (var i = 1; i < 8; i++) {
        var tr = document.createElement('tr');
        tr.setAttribute('id',name +" tr " +i);
		for (var j = 0; j < 3; j++) {

                var td = document.createElement('td');
                td.appendChild(document.createTextNode(round[i][j].name))
				td.setAttribute('id',name +" cell " +a)				
				td.setAttribute('height', '80px');
				td.setAttribute('onclick','clicked(this)')
                tr.appendChild(td)
			
			if (i > 1){
			td.setAttribute("style"," visibility:hidden");
			}

			a++;
			
        }
        tbdy.appendChild(tr);
    }
    console.log(tbl);
	console.log(tbdy);
	tbl.appendChild(tbdy);
	place.appendChild(tbl);

}	


function clicked(x) {
   
	ele = x.id.split(' ');
	
	if (ele[0] == "player1")
	{
		p1[ele[2]] = "red";
		c1[ele[2]] = 1;
	}
	else
	{
		p2[ele[2]] = "blue";
		c2[ele[2]] = 1;
	}

    socket.emit('clicked', {'data': x.id,'color':playercolor,'p1':p1,'p2':p2,'c1':c1,'c2':c2});

	

}


	
socket.on('newdata', function(msg) {
	
	document.getElementById(msg.data).style.backgroundColor=msg.color;
	document.getElementById(msg.data).style.color='#fff';
	document.getElementById(msg.data).style.textDecoration = "underline";
	check_round();
});


function check_round() {

// check for color of cells in a row
	var total_red =0;
	var total_blue =0;
	
	for (var a = 0; a < 21; a+=3) 
	{	
	var color_red =0;
	var color_blue =0;
	
	try{
	for (var i = a; i < a+3; i++) 
	{
	 if (document.getElementById("player1 cell "+i).style.backgroundColor == "red")
	 {
		color_red++;
	 }
	 if (document.getElementById("player2 cell "+i).style.backgroundColor == "blue")
	 {
		color_blue++;
	 }	 	 
	}
	//console.log("a "+a)
	//console.log("color red "+color_red)
	if ( color_red >=2 )
	{
		for (var i = a; i < a+3; i++) 
		{	
			document.getElementById("player1 cell "+i).style.backgroundColor = "red";
			document.getElementById("player1 cell "+i).style.color='#fff';
			document.getElementById("player1 cell "+i).removeAttribute('onclick');
			document.getElementById("player2 cell "+i).style.backgroundColor = "red"
			document.getElementById("player2 cell "+i).style.color='#fff';
			document.getElementById("player2 cell "+i).removeAttribute('onclick');
			if (a< 18){
			document.getElementById("player1 cell "+(i+3)).style.visibility = 'visible';
			document.getElementById("player2 cell "+(i+3)).style.visibility = 'visible';
			}
		}		
		
	}
	if ( color_blue >=2 )
	{
		for (var i = a; i < a+3; i++) 
		{	
			document.getElementById("player1 cell "+i).style.backgroundColor = "blue";
			document.getElementById("player1 cell "+i).style.color='#fff';
			document.getElementById("player1 cell "+i).removeAttribute('onclick');
			document.getElementById("player2 cell "+i).style.backgroundColor = "blue"
			document.getElementById("player2 cell "+i).style.color='#fff';
			document.getElementById("player2 cell "+i).removeAttribute('onclick');
			
			if (a< 18){
			document.getElementById("player1 cell "+(i+3)).style.visibility = 'visible';
			document.getElementById("player2 cell "+(i+3)).style.visibility = 'visible';
			}			
		}		
		
	}
	}
	catch(err) {
	
	}
	total_red +=color_red;
	total_blue+=color_blue;

	
	
	}
	console.log(total_red);
	if ((total_red>=11 || total_blue>=11)&& game_active == 1)
	{
		socket.emit('end', "dest");
	}
	
	color_pick(playercolor);
}


function shuffle(array) {
  var currentIndex = array.length, temporaryValue, randomIndex;

  // While there remain elements to shuffle...
  while (0 !== currentIndex) {

    // Pick a remaining element...
    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex -= 1;

    // And swap it with the current element.
    temporaryValue = array[currentIndex];
    array[currentIndex] = array[randomIndex];
    array[randomIndex] = temporaryValue;
  }

  return array;
}	


    socket.on('connect', function() {
        socket.emit('my event', "dest");
		
		
    });	
</script>
</body>
</html>





