<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Bingo Data</title>

    <!-- Style -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>		
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='5.png') }}"/>
<link rel="icon" type="image/png" href="{{ url_for('static', filename='5.png') }}"/>
<script src="{{ url_for('static', filename='js/goal-list.js') }}" type="text/javascript"></script>
    <style>
	body{
		 padding-right: 30px;
	  padding-left: 30px;
	   padding-top: 5px;
		background:#2c2f33;
		color:#bec7d2;
	}
	#bingo td {
	background:#000811;
	border:2px #0a245a solid;
	color:#bec7d2;
	font-size:100%;
	font-weight:400;
	height:100px;
	width:100px;
	max-height:100px;
	max-width:100px;
	text-align:center;
		cursor:pointer;

}
	#bingo tr:first-child td,#bingo tr:last-child td {
		background:#000811;
		border:1px #0a245a solid;
		color:#3c70df;
		font-size:75%;
		font-weight:700;
		height:30px;
		cursor:pointer;
	}
	#bingo tr td:first-child {
		background:#000811;
		border:1px #0a245a solid;
		color:#3c70df;
		font-size:75%;
		font-weight:700;
		width:40px;
		min-width:40px;
		max-width:40px;
		cursor:pointer;
	}

	#bingo td:hover {
		background:#1448b3;
		color:#fff;
	}

	#bingo tr td.greensquare {
		background:#051;
	}

	#bingo tr td.greensquare:hover,#bingo tr td.greensquare.hover {
		background:#072;
	}


	
	</style>
</head>
<body>
<p>Welcome to the Banjo-Tooie Bingo Data Page. This page shows all the current data for Tooie Bingo cards.<br>
	Using the Navigation Tabs you can sort data. Press your Card version, then the tags you filter for. <br>
	Press Only to only see cards with those exact tags, otherwise it will just find any card with that tag.<br>
</p>
<ul class="pagination" id="sortgroups">
	<li><a onclick="active(this);">v2020.3</a></li>
	<li class="active"><a  onclick="active(this);">v2020.4</a></li>
</ul>
<ul class="pagination" id="sorttype">
	<li ><a onclick="active(this);">Standard</a></li>
	<li ><a onclick="active(this);">Race</a></li>
	<li ><a  onclick="active(this);">Shot</a></li>
	<li><a onclick="active(this);">Gimmick</a></li>
	<li ><a  onclick="active(this);">Shit</a></li>
	<li><a onclick="active(this);">Short</a></li>
	<li><a onclick="active(this);">Long</a></li>
</ul>
<ul class="pagination" >
	<li> <a onclick="set_only(this);">Only</a></li>
</ul>
<div style="display:flex;">	
	<div style="margin:10px;">
	<p> The Fastest Card </p>
				<table id="bingo">
					<tr>
						<td class="popout" id="tlbr">TL-BR</td>
						<td class="popout" id="col1">COL1</td>
						<td class="popout" id="col2">COL2</td>
						<td class="popout" id="col3">COL3</td>
						<td class="popout" id="col4">COL4</td>
						<td class="popout" id="col5">COL5</td>
					</tr>
					<tr>
						<td class="popout" id="row1">ROW1</td>
						<td onclick="goal_highlight(this);" class="row1 col1 tlbr" id="slot1"></td>
						<td onclick="goal_highlight(this);" class="row1 col2" id="slot2"></td>
						<td onclick="goal_highlight(this);" class="row1 col3" id="slot3"></td>
						<td onclick="goal_highlight(this);" class="row1 col4" id="slot4"></td>
						<td onclick="goal_highlight(this);" class="row1 col5 bltr" id="slot5"></td>
					</tr>
					<tr> 
						<td class="popout" id="row2">ROW2</td>
						<td onclick="goal_highlight(this);" class="row2 col1" id="slot6"></td>
						<td onclick="goal_highlight(this);" class="row2 col2 tlbr" id="slot7"></td>
						<td onclick="goal_highlight(this);" class="row2 col3" id="slot8"></td>
						<td onclick="goal_highlight(this);" class="row2 col4 bltr" id="slot9"></td>
						<td onclick="goal_highlight(this);" class="row2 col5" id="slot10"></td>
					</tr>
					<tr> 
						<td class="popout" id="row3">ROW3</td>
						<td onclick="goal_highlight(this);" class="row3 col1" id="slot11"></td>
						<td onclick="goal_highlight(this);" class="row3 col2" id="slot12"></td>
						<td onclick="goal_highlight(this);" class="row3 col3 tlbr bltr" id="slot13"></td>
						<td onclick="goal_highlight(this);" class="row3 col4" id="slot14"></td>
						<td onclick="goal_highlight(this);" class="row3 col5" id="slot15"></td>
					</tr>
					<tr> 
						<td class="popout" id="row4">ROW4</td>
						<td onclick="goal_highlight(this);" class="row4 col1" id="slot16"></td>
						<td onclick="goal_highlight(this);" class="row4 col2 bltr" id="slot17"></td>
						<td onclick="goal_highlight(this);" class="row4 col3" id="slot18"></td>
						<td onclick="goal_highlight(this);" class="row4 col4 tlbr" id="slot19"></td>
						<td onclick="goal_highlight(this);" class="row4 col5" id="slot20"></td>
					</tr>
					<tr> 
						<td class="popout" id="row5">ROW5</td>
						<td onclick="goal_highlight(this);" class="row5 col1 bltr" id="slot21"></td>
						<td onclick="goal_highlight(this);" class="row5 col2" id="slot22"></td>
						<td onclick="goal_highlight(this);" class="row5 col3" id="slot23"></td>
						<td onclick="goal_highlight(this);" class="row5 col4" id="slot24"></td>
						<td onclick="goal_highlight(this);" class="row5 col5 tlbr" id="slot25"></td>
					</tr>
					<tr>
						<td class="popout" id="bltr">BL-TR</td>
					</tr>
				</table>

	<p id = "fast"></p>
	</div>

	<div style="margin:10px;">
		<p> All Cards </p>
		<table id="bingo">
					<tr>
						<td class="popout" id="tlbr">TL-BR</td>
						<td class="popout" id="col1">COL1</td>
						<td class="popout" id="col2">COL2</td>
						<td class="popout" id="col3">COL3</td>
						<td class="popout" id="col4">COL4</td>
						<td class="popout" id="col5">COL5</td>
					</tr>
					<tr>
						<td class="popout" id="row1">ROW1</td>
						<td onclick="goal_highlight(this);" class="row1 col1 tlbr" id="2slot1"></td>
						<td onclick="goal_highlight(this);" class="row1 col2" id="2slot2"></td>
						<td onclick="goal_highlight(this);" class="row1 col3" id="2slot3"></td>
						<td onclick="goal_highlight(this);" class="row1 col4" id="2slot4"></td>
						<td onclick="goal_highlight(this);" class="row1 col5 bltr" id="2slot5"></td>
					</tr>
					<tr> 
						<td class="popout" id="row2">ROW2</td>
						<td onclick="goal_highlight(this);" class="row2 col1" id="2slot6"></td>
						<td onclick="goal_highlight(this);" class="row2 col2 tlbr" id="2slot7"></td>
						<td onclick="goal_highlight(this);" class="row2 col3" id="2slot8"></td>
						<td onclick="goal_highlight(this);" class="row2 col4 bltr" id="2slot9"></td>
						<td onclick="goal_highlight(this);" class="row2 col5" id="2slot10"></td>
					</tr>
					<tr> 
						<td class="popout" id="row3">ROW3</td>
						<td onclick="goal_highlight(this);" class="row3 col1" id="2slot11"></td>
						<td onclick="goal_highlight(this);" class="row3 col2" id="2slot12"></td>
						<td onclick="goal_highlight(this);" class="row3 col3 tlbr bltr" id="2slot13"></td>
						<td onclick="goal_highlight(this);" class="row3 col4" id="2slot14"></td>
						<td onclick="goal_highlight(this);" class="row3 col5" id="2slot15"></td>
					</tr>
					<tr> 
						<td class="popout" id="row4">ROW4</td>
						<td onclick="goal_highlight(this);" class="row4 col1" id="2slot16"></td>
						<td onclick="goal_highlight(this);" class="row4 col2 bltr" id="2slot17"></td>
						<td onclick="goal_highlight(this);" class="row4 col3" id="2slot18"></td>
						<td onclick="goal_highlight(this);" class="row4 col4 tlbr" id="2slot19"></td>
						<td onclick="goal_highlight(this);" class="row4 col5" id="2slot20"></td>
					</tr>
					<tr> 
						<td class="popout" id="row5">ROW5</td>
						<td onclick="goal_highlight(this);" class="row5 col1 bltr" id="2slot21"></td>
						<td onclick="goal_highlight(this);" class="row5 col2" id="2slot22"></td>
						<td onclick="goal_highlight(this);" class="row5 col3" id="2slot23"></td>
						<td onclick="goal_highlight(this);" class="row5 col4" id="2slot24"></td>
						<td onclick="goal_highlight(this);" class="row5 col5 tlbr" id="2slot25"></td>
					</tr>
					<tr>
						<td class="popout" id="bltr">BL-TR</td>
					</tr>
				</table>
		<p id = "all"></p>
		<button class="btn btn-primary" onclick="nextCard(-1);" type="button" style="color:black;">Prev</button>
		<button class="btn btn-primary"  onclick="nextCard(1);" type="button" style="color:black;">Next</button><br>
		<button class="btn btn-primary" onclick="sort_runner();" type="button" style="color:black;">Sort Runner</button>
		<button class="btn btn-primary" onclick="sort_date();" type="button" style="color:black;">Sort Date</button>
		<button class="btn btn-primary" onclick="sort_time();" type="button" style="color:black;">Sort Time</button>
	</div>
	<div style="margin:10px;">
		<p> Rankings </p>
		<table id="rank_names">
			<tr>
				<td style="width:150px;"> Player </td>
				<td style="width:100px;"> Average Time </td>
				<td style="width:100px;"> Fastest Time </td>
				<td style="width:100px;"> # of Bingos </td>
				<td style="width:100px;"> Total Time </td>
			</tr>
		</table>
		<br>
		<div id="rank">

		</div>
	</div>
</div>
<br>
<br>
<table id="sort_goals">
	<tr>
		<td> <button class="btn btn-primary" onclick="goal_name();" type="button" style="width:250px;color:black;">Goal Name</button> </td>
		<td> <button class="btn btn-primary" onclick="goal_rank();" type="button" style="width:150px;color:black;">Rank</button> </td>
 		<td> <button class="btn btn-primary" onclick="count_all_goals();" type="button" style="width:150px;color:black;">Cards Appeared </button> </td>
		<td> <button class="btn btn-primary" onclick="count_chosen_goals();" type="button" style="width:150px;color:black;">Cards Chosen</button> </td>
		<td> <button  class="btn btn-primary"onclick="pick_rate();" type="button" style="width:150px;color:black;">Pick Rate</button> </td>
		<td> <button class="btn btn-primary" onclick="average_time();" type="button" style="width:150px;color:black;">Average Time</button> </td>
	</tr>
</table>
<p id="goal_data"></p>
<script>
function time_hhmmss_to_seconds(time){
	total_time = 0;
	total_time += parseInt(time.substr(0,2))*3600;
	total_time += parseInt(time.substr(3,2))*60;
	total_time += parseInt(time.substr(6,2));
	return total_time;
}

function time_seconds_to_hhmmss(time){
	var hours = Math.floor(time/3600);
	if (hours < 10){
		hours = "0".concat(hours.toString())
	}
	time = time % 3600;
	var minutes = Math.floor(time/60);
	if (minutes < 10){
		minutes = "0".concat(minutes.toString())
	}
	time = time % 60;
	var seconds = Math.floor(time);
	if (seconds < 10){
		seconds = "0".concat(seconds.toString())
	}
	return `${hours}:${minutes}:${seconds}`;

}
//parse raw data array
var bingo_raw = '{{data}}';
bingo_raw = bingo_raw.split('$');
bingo_raw.pop(); //remove nothing in last value
for( var i = 0; i< bingo_raw.length;i++){
	bingo_raw[i] = bingo_raw[i].split('@');
	bingo_raw[i][6] = bingo_raw[i][6].split('%');
	bingo_raw[i][6].pop();//remove nothing in last value
	bingo_raw[i].push(i);
}
// let bingo be the sorted data array, starting with everything.
let bingo = bingo_raw.slice();


//All Cards
var current_card = 0;
function nextCard(dir){
	current_card = current_card + dir;
	if (current_card > bingo.length-1){
		current_card =0;
	}
	if (current_card < 0){
		current_card = bingo.length-1;
	}

	//Build Card
	for( var i = 1; i<= 25 ;i++){
		for( var j = 0; j < bingoStats.length; j ++){
			if(parseInt(bingo[current_card][6][i-1]) == bingoStats[j]["id"]){
				document.getElementById("2slot"+i).innerHTML = bingoStats[j]["name"];
				document.getElementById("2slot"+i).classList.remove("greensquare");

			}
		}

	}
	//Highlight Row
	for( var i = 1; i<= 25 ;i++){
		if (document.getElementById("2slot"+i).className.includes(bingo[current_card][3])){
			document.getElementById("2slot"+i).classList.add("greensquare");
		}
	}
	document.getElementById("all").innerHTML = "Card " +(current_card+1)+" Info:<br>Player: "+bingo[current_card][5]+"<br>Time: "+bingo[current_card][4]+"<br>Seed: "+bingo[current_card][2]+"<br>Date: "+bingo[current_card][1];

}
// All Cards sort Functions
// Sort cards by username
function sort_runner(){
	bingo.sort(function(a, b){if(a[5].toLowerCase() < b[5].toLowerCase()){return -1;}if(a[5].toLowerCase() > b[5].toLowerCase()){return 1;}return 0;});
	current_card = 0;
	nextCard(0);
}
// Sort cards by Date
function sort_date(){
	bingo.sort(function(a, b){return a[7]-b[7]});
	current_card = 0;
	nextCard(0);
}
// Sort cards by Time
function sort_time(){
	bingo.sort(function(a, b){return time_hhmmss_to_seconds(a[4])-time_hhmmss_to_seconds(b[4])});
	current_card = 0;
	nextCard(0);
}

//Mumbo Stuff


//get iindices of goals on card based on row name
function get_indicies_from_row(row_name){
	if (row_name == "bltr"){
		return [4,8,12,16,20];
	}

	if (row_name == "tlbr"){
		return [0,6,12,18,24];
	}

	if (row_name.substr(0,3) == "row"){
		var row_num = parseInt(row_name[3]);
		var offset = 5*row_num-5;
		return [offset, offset+1, offset+2, offset+3, offset+4];
	}

	if (row_name.substr(0,3) == "col"){
		var col_num = parseInt(row_name[3]);
		var offset = col_num;
		return [offset-1, offset+4, offset+9, offset+14, offset+19];
	}

	else{
		console.log("row_name error");
		return -1;
	}

}



//Fills bingoStats with cards each goal appeared on and cards each goal was picked on
function fill_bingoStats_with_cards(){
	for (var i = 0; i < bingo.length; i++){
		// console.log(i);
		var card = bingo[i];
		// console.log(card);
		var row_name = card[3];
		var picked_goals = get_indicies_from_row(row_name);

		for (var j = 0; j < 25; j++){
			for( var a = 0; a < bingoStats.length; a++){
				if(card[6][j] == bingoStats[a]["id"]) {
					bingoStats[a]["cards_appeared"].push(i);
					}
				}

		}

		for (var k = 0; k < 5; k++){
			var j = picked_goals[k];
			for( var a = 0; a < bingoStats.length; a++) {
				if (card[6][j] == bingoStats[a]["id"]) {
					bingoStats[a]["cards_picked"].push(i);
				}
			}
		}
	}
	
}

function generate_basic_stats(){
    for (var i = 0; i < bingoStats.length; i++){

        var appeared = bingoStats[i]["cards_appeared"].length;
        bingoStats[i]["appeared"] = appeared;

        var picked = bingoStats[i]["cards_picked"].length;
        bingoStats[i]["picked"] = picked;

        var pick_rate = "-1";
        if (appeared > 0){
            pick_rate = picked/appeared;
        }
        bingoStats[i]["pick_rate"] = pick_rate;

        var total_time = 0;        
        bingoStats[i]["cards_picked"].forEach(calc_row_time);
        function calc_row_time(value, index, array){
            var card = bingo[value];
            var card_time = card[4];
            if (card_time.length == 5){
                card_time = "00:".concat(card_time);
            }
            var xtime = time_hhmmss_to_seconds(card_time);
            total_time += xtime;
        }
        bingoStats[i]["total_time"] = total_time;

        var average_time = '359999';
        if (picked > 0){
            average_time = total_time/picked;
        }
        bingoStats[i]["average_time"] = average_time;
        bingoStats[i]["average_time_hhmmss"] = time_seconds_to_hhmmss(average_time);
    }
}



// Button to display all goals stats
function count_all_goals(){	
	bingoStats.sort(function(a, b){return b["cards_appeared"].length-a["cards_appeared"].length});
	document.getElementById("goal_data").innerHTML = "";
	tableCreate("goal_data","goalData");
}

//button to display all picked stats
function count_chosen_goals(){	
	bingoStats.sort(function(a, b){return b["cards_picked"].length-a["cards_picked"].length});
	document.getElementById("goal_data").innerHTML = "";
	tableCreate("goal_data","goalData");
}

//button pickrate
function pick_rate(){	
	bingoStats.sort(function(a, b){return b["pick_rate"]-a["pick_rate"]});
	document.getElementById("goal_data").innerHTML = "";
	tableCreate("goal_data","goalData");
}
//button average_time
function average_time(){	
	bingoStats.sort(function(a, b){return a["average_time"]-b["average_time"]});
	document.getElementById("goal_data").innerHTML = "";
	tableCreate("goal_data","goalData");
}
//button goal_name
function goal_name(){
	bingoStats.sort(function(a, b){if(a["name"].toLowerCase() < b["name"].toLowerCase()){return -1;}if(a["name"].toLowerCase() > b["name"].toLowerCase()){return 1;}return 0;});
	document.getElementById("goal_data").innerHTML = "";
	tableCreate("goal_data","goalData");
}
//button goal_rank
function goal_rank(){
	bingoStats.sort(function(a, b){return a["tier"]-b["tier"]});
	document.getElementById("goal_data").innerHTML = "";
	tableCreate("goal_data","goalData");
}

function tableCreate(name,id) {
	var a = 0;
	var place = document.getElementById(name);
	place.innerHTML ="";
	var tbl = document.createElement('table');
	tbl.setAttribute('id',id)
	var tbdy = document.createElement('tbody');
	for (var i = 0; i < bingoStats.length; i++) {
		var tr = document.createElement('tr');
		tr.setAttribute('id',name +" tr " +i);

		var td = document.createElement('td');
		td.appendChild(document.createTextNode(bingoStats[i]["name"]))
		td.setAttribute('id',name +" cell " +a)
		td.setAttribute('height', '10px');
		td.setAttribute('width', '250px');
		td.setAttribute('onclick','clicked(this)')
		tr.appendChild(td)
		a++;
		td = document.createElement('td');
		td.appendChild(document.createTextNode(bingoStats[i]["tier"]))
		td.setAttribute('id',name +" cell " +a)
		td.setAttribute('height', '10px');
		td.setAttribute('width', '150px');
		td.setAttribute('text-align', 'center');
		td.setAttribute('onclick','clicked(this)')
		tr.appendChild(td)
		a++;
		td = document.createElement('td');
		td.appendChild(document.createTextNode(bingoStats[i]["cards_appeared"].length))
		td.setAttribute('id',name +" cell " +a)
		td.setAttribute('height', '10px');
		td.setAttribute('width', '150px');
		td.setAttribute('text-align', 'center');
		td.setAttribute('onclick','clicked(this)')
		tr.appendChild(td)
		a++;
		td = document.createElement('td');
		td.appendChild(document.createTextNode(bingoStats[i]["cards_picked"].length))
		td.setAttribute('id',name +" cell " +a)
		td.setAttribute('height', '10px');
		td.setAttribute('width', '150px');
		td.setAttribute('text-align', 'center');
		td.setAttribute('onclick','clicked(this)')
		tr.appendChild(td)
		a++;
		td = document.createElement('td');
		if(bingoStats[i]["pick_rate"] != '-1'){
			td.appendChild(document.createTextNode(Math.round(bingoStats[i]["pick_rate"]*10000)/100+"%"))
		}
		else{
			td.appendChild(document.createTextNode("-"));
		}
		td.setAttribute('id',name +" cell " +a)
		td.setAttribute('height', '10px');
		td.setAttribute('width', '150px');
		td.setAttribute('text-align', 'center');
		td.setAttribute('onclick','clicked(this)')
		tr.appendChild(td)
		a++;
		td = document.createElement('td');
		if(bingoStats[i]["average_time"] != '359999'){
			td.appendChild(document.createTextNode(bingoStats[i]["average_time_hhmmss"]))
		}
		else{
			td.appendChild(document.createTextNode("-"));
		}
		td.setAttribute('id',name +" cell " +a)
		td.setAttribute('height', '10px');
		td.setAttribute('width', '150px');
		td.setAttribute('text-align', 'center');
		td.setAttribute('onclick','clicked(this)')
		tr.appendChild(td)
		a++;
		tbdy.appendChild(tr);
	}
	tbl.appendChild(tbdy);
	place.appendChild(tbl);
}


function tableRankings(name,id) {
	var a = 0;
	var place = document.getElementById(name);
	place.innerHTML ="";
	var tbl = document.createElement('table');
	tbl.setAttribute('id',id)
	var tbdy = document.createElement('tbody');
	for (var i = 0; i < rankings.length; i++) {
		var tr = document.createElement('tr');
		tr.setAttribute('id',name +" tr " +i);

		var td = document.createElement('td');
		td.appendChild(document.createTextNode(rankings[i]["name"]))
		td.setAttribute('id',name +" cell " +a)
		td.setAttribute('height', '10px');
		td.setAttribute('width', '150px');
		td.setAttribute('onclick','clicked(this)')
		tr.appendChild(td)
		a++;
		td = document.createElement('td');
		td.appendChild(document.createTextNode(time_seconds_to_hhmmss(rankings[i]["total"]/rankings[i]["cards"])))
		td.setAttribute('id',name +" cell " +a)
		td.setAttribute('height', '10px');
		td.setAttribute('width', '100px');
		td.setAttribute('text-align', 'center');
		td.setAttribute('onclick','clicked(this)')
		tr.appendChild(td)
		a++;
		td = document.createElement('td');
		td.appendChild(document.createTextNode(time_seconds_to_hhmmss(rankings[i]["fastest"])));
		td.setAttribute('id',name +" cell " +a)
		td.setAttribute('height', '10px');
		td.setAttribute('width', '100px');
		td.setAttribute('text-align', 'center');
		td.setAttribute('onclick','clicked(this)')
		tr.appendChild(td)
		a++;
		td = document.createElement('td');
		td.appendChild(document.createTextNode(rankings[i]["cards"]))
		td.setAttribute('id',name +" cell " +a)
		td.setAttribute('height', '10px');
		td.setAttribute('width', '100px');
		td.setAttribute('text-align', 'center');
		td.setAttribute('onclick','clicked(this)')
		tr.appendChild(td)
		a++;
		td = document.createElement('td');
		td.appendChild(document.createTextNode(time_seconds_to_hhmmss(rankings[i]["total"])))
		td.setAttribute('id',name +" cell " +a)
		td.setAttribute('height', '10px');
		td.setAttribute('width', '100px');
		td.setAttribute('text-align', 'center');
		td.setAttribute('onclick','clicked(this)')
		tr.appendChild(td)
		a++;
		tbdy.appendChild(tr);
	}
	tbl.appendChild(tbdy);
	place.appendChild(tbl);
}

function goal_highlight(x){
	let goal = x.innerHTML;
	document.getElementById("goal_data").innerHTML = "";
	tableCreate("goal_data","goalData");
	let text = document.getElementById("goal_data").innerHTML;
	document.getElementById("goal_data").innerHTML = text.replaceAll(goal,'<span style="color:red;">'+goal+'</span>');
}


// call this function to build all the data again once a sort is done
var bingoStats = [];
var bingo_rank = [];
var rankings = [];
function build_data() {
	// make an array of players, to perform ranking
	bingoStats = [];
	bingo_rank = [];
	rankings = [];
	for (var i = 0; i < bingo.length; i++) {
		if (bingo_rank[bingo[i][5]] == null) {
			bingo_rank[bingo[i][5]] = {
				"name": bingo[i][5],
				"cards": 1,
				"fastest": time_hhmmss_to_seconds(bingo[i][4]),
				"total": time_hhmmss_to_seconds(bingo[i][4])
			};
		} else {
			bingo_rank[bingo[i][5]]["cards"] = bingo_rank[bingo[i][5]]["cards"] + 1;
			bingo_rank[bingo[i][5]]["total"] = bingo_rank[bingo[i][5]]["total"] + time_hhmmss_to_seconds(bingo[i][4]);
			if (time_hhmmss_to_seconds(bingo[i][4]) < bingo_rank[bingo[i][5]]["fastest"]) {
				bingo_rank[bingo[i][5]]["fastest"] = time_hhmmss_to_seconds(bingo[i][4]);
			}
		}
	}

	//indexed by id -- changed to an array to it can be sorted
	for (var i = 1; i <= 25; i++) {
		for (var j = 0; j < bingoList[i].length; j++) {
			var name = bingoList[i][j].name;
			var id = bingoList[i][j].id;
			bingoStats.push({
				"id": id,
				"name": name,
				"tier": i,
				"cards_appeared": [],
				"cards_picked": [],
				"pick_rate": 0,
				"average_time": 0
			});
		}
	}

	//fastest
	var fast_time = 999999
	var time_index = -1;
	for (var i = 0; i < bingo.length; i++) {
		var raw = bingo[i][4].replaceAll(":", "");
		var time = parseInt(raw);
		if (time < fast_time) {
			fast_time = time;
			time_index = i;
		}
	}

	//Build Card
	for (var i = 1; i <= 25; i++) {
		for (var j = 0; j < bingoStats.length; j++) {
			if (parseInt(bingo[time_index][6][i - 1]) == bingoStats[j]["id"]) {
				document.getElementById("slot" + i).innerHTML = bingoStats[j]["name"];
				document.getElementById("slot"+i).classList.remove("greensquare");
			}
		}
	}
	//Highlight Row
	for (var i = 1; i <= 25; i++) {
		if (document.getElementById("slot" + i).className.includes(bingo[time_index][3])) {
			document.getElementById("slot" + i).classList.add("greensquare");
		}
	}
	document.getElementById("fast").innerHTML = "Card Info:<br>Player: " + bingo[time_index][5] + "<br>Time: " + bingo[time_index][4] + "<br>Seed: " + bingo[time_index][2] + "<br>Date: " + bingo[time_index][1];

	fill_bingoStats_with_cards();
	generate_basic_stats();

	//build ranking
	for(var i in bingo_rank)
		rankings.push(bingo_rank[i]);
	rankings.sort(function(a, b){return (a["total"]/a["cards"])-(b["total"]/b["cards"])});
	tableRankings("rank","user_rank");

	//build initial goal_data
	bingoStats.sort(function(a, b){return a["tier"]-b["tier"]});
	tableCreate("goal_data","goalData");

	nextCard(0);
}


function rebuild(){

	bingo = bingo_raw.slice();
	// check to see if only is active

	// loop and delete if not includes this type
	let final = [];
	let vnum = [];
	let stand = false;
	for(let j = 0; j < active_search.length;j++){
		if (active_search[j].charAt(0)=='v'){
			vnum.push(active_search[j]);
		}
		if (active_search[j]=="standard"){

			stand = true;
		}
	}
	for(let i = 0; i < bingo.length;i++){
		//count all and active, must equal each other for it to be correct
		let allc = 0;
		let actc = 0;
		//all
		for(let j = 0; j < all_search.length;j++){
			if (bingo[i][0].includes(all_search[j])){
				allc++;
			}
		}
		//active
		for(let j = 0; j < active_search.length;j++){
			if (bingo[i][0].includes(active_search[j])){
				actc++;
			}
		}
		if (only){
			if (stand){
				if ((allc - vnum.length == 0) && active_search.length - vnum.length -1 == 0 ){
					final.push(bingo[i]);
				}
			}
			else{
				if ((actc - vnum.length == allc - vnum.length && allc - vnum.length != 0 && actc - vnum.length == active_search.length - vnum.length ) || (allc - vnum.length == 0 && active_search.length - vnum.length == 0) ){
					final.push(bingo[i]);
				}
			}


		}
		else {
			if (stand){
				if ((allc - vnum.length == 0) || actc - vnum.length > 0  ){
					final.push(bingo[i]);
				}
			}
			else{
				if ((active_search.length==vnum.length) || (actc - vnum.length > 0 )){
					final.push(bingo[i]);
				}
			}


		}

	}
	bingo = final.slice();
	if (bingo.length==0){
		bingo = [["null","null","null","null","00:00:00","null",[-1]]];
	}
	build_data();
}
let all_search = ["v2020.3","v2020.4","race","shot","gimmick","long","short","shit"];
let active_search = ["v2020.4"];
function active(t){
	let t_name = t.innerHTML.toLowerCase()
	t = t.parentNode;
	if (t.classList.contains("active")){
		t.classList.remove("active")
		if(active_search.indexOf(t_name)>-1){
			active_search.splice(active_search.indexOf(t_name),1);
		}
	}
	else {
		t.classList.add("active");
		active_search.push(t_name);

	}
	rebuild();
}
let only = false;
function set_only(t){
	t = t.parentNode;
	if (t.classList.contains("active")){
		t.classList.remove("active")
		only = false;
	}
	else {
		t.classList.add("active");
		only = true;

	}
	rebuild();
}
// default start
build_data();



</script>
</body>
</html>