<!DOCTYPE html>
<style>
table, th, td {
  border: 1px solid black;
}
.highlight {color:red;}
</style>
<html>
<head>
Tooie Bingo Stats 
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<input id="gen" type="number" name="gen" value="1000">
<input id="btn1" type="button" value="Generate Cards" onclick="generate();"  />
<input id="btn8" type="button" value="MumboBoard" onclick="printnewboard();"  />
<link rel="icon" type="image/png" href="{{ url_for('static', filename='5.png') }}"/>
<script src="{{ url_for('static', filename='js/seedrandom-min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/generator.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/goal-list.js') }}" type="text/javascript"></script>
<textarea align="right" rows="40" cols="120"style="right:10px;position:fixed;height:400px;width:800px;font-size:14pt;" id="goals" type="text" name="goals">
Currently not working, using only live goals
</textarea>
<table id = "bingo" style="top:420px;right:10px;width:33%;position:fixed;"> </table>
<input id="next" type="button" value="Next Card" onclick="change_board();" style="top:450px;right:700px;position:fixed;" />
<p id="cardSeed" style="top:460px;right:700px;position:fixed;"></p>
<br>
<input id="btn2" type="button" value="Sort By" onclick="changesort();"  />
<input type="checkbox" id="checkPair" name="checkPair" value="pair"> Include Pairs<br>

<p id="sort"> </p>

<p class="clickable" id="seed"> </p>

<script >
document.getElementById("goals").style.width = window.innerWidth /2;
document.getElementById("goals").style.height = window.innerHeight;



var SEED = 0 ;
var  mumboard =0;
var clicked = "";

function highlight(text){
$('#seed').each(function() {
    
    		//Handle special characters used in regex
        var searchregexp = new RegExp(text.replace(/[.*+?^${}()|[\]\\]/g, '\\$&'), "gi");
        
        //$& will maintain uppercase and lowercase characters.
        $(this).html($(this).html().replace(searchregexp, "<span class = 'highlight'>$&</span>"));
        
}); 

}

 

function stat(goal,rank,types, empty) {
	this.goal = goal;
	this.rank = rank;
	this.types= types;
	this.amount = 0;
	this.array_close=empty;
	this.tagrate = 0;
	this.num =0;
	this.print = function(){
		return ""+this.goal +  "<pre> Appeared: "+ this.amount+ "  |  " + ((this.amount/document.getElementById("gen").value)*100).toFixed(2) +"%  |  Difficulty: "+this.rank+"  |  Tags: "+this.types+"  "+this.calc()+"</pre>";
		}
		
	this.calc = function(){
		this.most ="";
		var num = 0;
		var count =0;
		if (document.getElementById("checkPair").checked){
			this.array_close.sort(function(a, b){return b.amount-a.amount});
			var max = 0;
			var maxrank =0;
			for(b = 1; b <= 25; b++){
				num = 0;
				for(var i =0; i< this.array_close.length; i++){
					if (this.array_close[i].rank == b && b != this.rank){ num=num+this.array_close[i].amount;}
					}
				if (num>max){max = num;maxrank = b}
			}
		
			return "\n Paired with: "+this.array_close[1].name+" : "+ ((this.array_close[1].amount/this.amount)*100).toFixed(2) + "%  |  "+this.array_close[2].name+" : "+ ((this.array_close[2].amount/this.amount)*100).toFixed(2) + "%  |  "+this.array_close[3].name+" : "+ ((this.array_close[3].amount/this.amount)*100).toFixed(2) + "% \n Goal is usally paired with difficulty rank: "+maxrank+"  |  "+ ((max/this.amount)*100).toFixed(2) + "%";
			}
		return "";
		}
	}
	
function close(name,rank){
	this.name = name;
	this.amount = 0;
	this.rank=rank;


	}
	
var stats_array = [];
var sorting =0;
function changesort(){
	sorting++;
	document.getElementById("seed").innerHTML="";
	if(sorting%2 == 0)
	{
		document.getElementById("sort").innerHTML="Appearance Rate";
		stats_array.sort(function(a, b){return b.amount-a.amount});
			stats_array.forEach(function(element) {
		document.getElementById("seed").innerHTML = document.getElementById("seed").innerHTML + "<br>" + element.print();
	});
	}
	if(sorting%2 == 1)
	{
		document.getElementById("sort").innerHTML="Difficulty";
		stats_array.sort(function(a, b){return b.rank-a.rank});
			stats_array.forEach(function(element) {
		document.getElementById("seed").innerHTML = document.getElementById("seed").innerHTML + "<br>" + element.print();
	});
	}
}

var board_check = [];
var board_seed = [];
var current_board =0;
function generate()
	{
	//parse input
/*var obj = document.getElementById("goals").value.split('\n');
	var bingoLine =1;
	bingoList.push([]);
	bingoList.push([]);
	for (i = 0; i < obj.length;i++)
		{
		if(obj[i].charAt(0)=='{' || obj[i].charAt(0)==' ')
			{
				var partName = obj[i].split(":");
				partName = partName[1].substring(partName[1].indexOf('"') + 1,partName[1].lastIndexOf('"'));
								
				var partType = obj[i].substring(obj[i].indexOf('['), obj[i].indexOf("]")+1);
					partType = partType.replace(" ","")
				
				bingoList[bingoLine].push({name: partName, types: JSON.parse(partType) })
				
			}
		if(obj[i].charAt(0)==']')
			{
			bingoLine++;
			bingoList.push([]);
			}
			
		} */
		
	document.getElementById("seed").innerHTML="";
	stats_array=[];

	bingoList.forEach(function(element,index) {
	  element.forEach(function(goal) {
	  
	  
	  	var second_list = [];
		
		if (document.getElementById("checkPair").checked){
		bingoList.forEach(function(element,index) {
		element.forEach(function(goal) {
		second_list.push(new close(goal.name,index))
			});
			});}
	  
	  stats_array.push(new stat(goal.name,index, goal.types, second_list))
	});
	});	

	
	var genval = document.getElementById("gen").value;
	current_board=0;
	board_check = [];
	for(i = 0; i<genval;i++)
		{
		bingoBoard = [];
		//document.getElementById("seed").innerHTML = i + "/"+genval;
		SEED = (Math.floor(Math.random()*5915587277)%1000000);
		createBoard();
		board_check.push(bingoBoard);
		board_seed.push(SEED);
		document.getElementById("cardSeed").innerHTML=""+board_seed[current_board];
		for(j = 0; j < stats_array.length; j++){
		  for(b = 1; b <= 25; b++){
			if(stats_array[j].goal == bingoBoard[b].name)
				{
					stats_array[j].amount = stats_array[j].amount+1;
					//console.log(stats_array[j].goal);
					//calculate rows and col partners
					//rows
				if (document.getElementById("checkPair").checked){
					if(b>=1 && b<=5)
					{
						for(var x = 1; x <= 5; x++)
							{
								for(var c = 0; c < stats_array[j].array_close.length; c++){
									if (bingoBoard[x].name == stats_array[j].array_close[c].name)
										{
											stats_array[j].array_close[c].amount++;
										}
									}
							}
					}
					if(b>=6 && b<=10)
					{
						for(var x = 6; x <= 10; x++)
							{
								for(var c = 0; c < stats_array[j].array_close.length; c++){
									if (bingoBoard[x].name == stats_array[j].array_close[c].name)
										{
											stats_array[j].array_close[c].amount++;
										}
									}
							}
					}
					if(b>=11 && b<=15)
					{
						for(var x = 11; x <= 15; x++)
							{
								for(var c = 0; c < stats_array[j].array_close.length; c++){
									if (bingoBoard[x].name == stats_array[j].array_close[c].name)
										{
											stats_array[j].array_close[c].amount++;
										}
									}
							}
					}
					if(b>=16 && b<=20)
					{
						for(var x = 16; x <= 20; x++)
							{
								for(var c = 0; c < stats_array[j].array_close.length; c++){
									if (bingoBoard[x].name == stats_array[j].array_close[c].name)
										{
											stats_array[j].array_close[c].amount++;
										}
									}
							}
					}
					if(b>=21 && b<=25)
					{
						for(var x = 21; x <= 25; x++)
							{
								for(var c = 0; c < stats_array[j].array_close.length; c++){
									if (bingoBoard[x].name == stats_array[j].array_close[c].name)
										{
											stats_array[j].array_close[c].amount++;
										}
									}
							}
					}					
					//col
					if(b==1 || b==6 || b==11 || b==16 || b==21)
					{
						for(var x = 1; x <= 21; x=x+5)
							{
								for(var c = 0; c < stats_array[j].array_close.length; c++){
									if (bingoBoard[x].name == stats_array[j].array_close[c].name)
										{
											stats_array[j].array_close[c].amount++;
										}
									}
							}
					}
					if(b==2 || b==7 || b==12 || b==17 || b==22)
					{
						for(var x = 2; x <= 22; x=x+5)
							{
								for(var c = 0; c < stats_array[j].array_close.length; c++){
									if (bingoBoard[x].name == stats_array[j].array_close[c].name)
										{
											stats_array[j].array_close[c].amount++;
										}
									}
							}
					}
					if(b==3 || b==8 || b==13 || b==18 || b==23)
					{
						for(var x = 3; x <= 23; x=x+5)
							{
								for(var c = 0; c < stats_array[j].array_close.length; c++){
									if (bingoBoard[x].name == stats_array[j].array_close[c].name)
										{
											stats_array[j].array_close[c].amount++;
										}
									}
							}
					}	
					if(b==4 || b==9 || b==14 || b==19 || b==24)
					{
						for(var x = 4; x <= 24; x=x+5)
							{
								for(var c = 0; c < stats_array[j].array_close.length; c++){
									if (bingoBoard[x].name == stats_array[j].array_close[c].name)
										{
											stats_array[j].array_close[c].amount++;
										}
									}
							}
					}
					if(b==5 || b==10 || b==15 || b==20 || b==25)
					{
						for(var x = 5; x <= 25; x=x+5)
							{
								for(var c = 0; c < stats_array[j].array_close.length; c++){
									if (bingoBoard[x].name == stats_array[j].array_close[c].name)
										{
											stats_array[j].array_close[c].amount++;
										}
									}
							}
					}
					if(b==1 || b==7 || b==13 || b==19 || b==25)
					{
						for(var x = 1; x <= 25; x=x+6)
							{
								for(var c = 0; c < stats_array[j].array_close.length; c++){
									if (bingoBoard[x].name == stats_array[j].array_close[c].name)
										{
											stats_array[j].array_close[c].amount++;
										}
									}
							}
					}	
					if(b==5 || b==9 || b==13 || b==17 || b==21)
					{
						for(var x = 5; x <= 21; x=x+4)
							{
								for(var c = 0; c < stats_array[j].array_close.length; c++){
									if (bingoBoard[x].name == stats_array[j].array_close[c].name)
										{
											stats_array[j].array_close[c].amount++;
										}
									}
							}
					}					
					}
				}
			}
		  }
		}
	stats_array.sort(function(a, b){return b.amount-a.amount});
	document.getElementById("sort").innerHTML="Appearance Rate";
	stats_array.forEach(function(element) {
	document.getElementById("seed").innerHTML = document.getElementById("seed").innerHTML + "<br>" + element.print();
	});
	tableFill();
   }
 
 

	function tableFill() {
		changesort();
		changesort();
		var cells = document.getElementById('bingo').getElementsByTagName("td"); 
			for (var i = 1; i < cells.length+1; i++) { 
					cells[i-1].innerHTML = board_check[current_board][i].name;
					highlight(board_check[current_board][i].name);
					
				}	
		}

function change_board()
	{
	current_board++;
	document.getElementById("cardSeed").innerHTML=""+board_seed[current_board];
	tableFill();
	}
	
	function tableCreate() {
	var a = 0;
    var body = document.getElementsByTagName('body')[0];
    var tbl = document.getElementById('bingo');
    var tbdy = document.createElement('tbody');
    for (var i = 0; i < 5; i++) {
        var tr = document.createElement('tr');
        for (var j = 0; j < 5; j++) {

                var td = document.createElement('td');
                td.appendChild(document.createTextNode('null'))
				td.setAttribute('id',a)
				td.setAttribute('onclick','clicked(this)')
				td.setAttribute('height', '80px');
                tr.appendChild(td)
			a++;
        }
        tbdy.appendChild(tr);
    }
    tbl.appendChild(tbdy);
    body.appendChild(tbl)
	
}
tableCreate();




	var bingoBoard = []; //the board itself stored as an array first
	
	function createBoard(){
		if( mumboard ==0){

		var bingoOpts = {
		seed: SEED,
		mode: 'normal',
		lang: 'name'
		};

		var bingoFunc = ootBingoGenerator;
	
		bingoBoard = bingoFunc(bingoList, bingoOpts);


		}		
		else{
		var arrToConvert = generate_cooler_bingo_template();
		var difficultyArr =[];
		 
		for(var i = 0; i < arrToConvert.length; i++)
			{
				difficultyArr = difficultyArr.concat(arrToConvert[i]);
			}
		for (var i=1;i<=25;i++) {
				bingoBoard[i] = {difficulty: difficultyArr[i-1]}; 

			} 
			
		//populate the bingo board in the array
		for (i=1; i<=25; i++) {
			var getDifficulty = bingoBoard[i].difficulty; // difficulty of current square
			var RNG = Math.floor(bingoList[getDifficulty].length * Math.random());
			if (RNG == bingoList[getDifficulty].length) { RNG--; } //fix a miracle
			var j = 0, synergy = 0, currentObj = null, minSynObj = null;

			do {
				currentObj = bingoList[getDifficulty][(j+RNG)%bingoList[getDifficulty].length];
				synergy = checkLine(i, currentObj.types);
				if (minSynObj == null || synergy < minSynObj.synergy) {
				  minSynObj = { synergy: synergy, value: currentObj };
				}
				j++;
			} while ((synergy != 0) && (j<bingoList[getDifficulty].length));

			bingoBoard[i].types = minSynObj.value.types;
			bingoBoard[i].name = minSynObj.value.name;
			bingoBoard[i].synergy = minSynObj.synergy;
			
		}			
			
			
		
		}
		
		
		

	}
	
// Mumbo Token's Generation 
	
function screw_up(L, mini, maxi, num){
	var count = 0;
	var new_L = L.slice(0);
	while (count < num){
		var i1 = (Math.floor(Math.random()*5915587277)%(new_L.length - 1));
		var i2 = (Math.floor(Math.random()*5915587277)%(new_L.length - 1));
		if (new_L[i1] > mini && new_L[i2] < maxi){
            new_L[i1] -= 1;
            new_L[i2] += 1;
			}
        count += 1;
		}
    return new_L;	
	}

	
function evenly_spaced(n,k){
	var step = 2*n/(k*(k-1));
	var weights =[];
	var total =0;
	for (var i =0; i < k; i++){
		var val = Math.floor(i*step);
		total += val;
		weights.push(val);
	}
	var diff = n -total;
	for( var i = 1; i< diff+1; i++){
		weights[i] +=1;
	
	}
	return weights;
}

function smoothen(L){
    var new_L = L.slice(0);
    new_L.sort(function(a, b){return b-a})
	new_L[0] -= 1
	new_L[new_L.length - 2] += 1
   // new_L[1] += 1
    return new_L;
}	

var shuffle = function (array) {

	var currentIndex = array.length;
	var temporaryValue, randomIndex;

	// While there remain elements to shuffle...
	while (0 !== currentIndex) {
		// Pick a remaining element...
		randomIndex = Math.floor(Math.random() * currentIndex);
		currentIndex -= 1;

		// And swap it with the current element.
		temporaryValue = array[currentIndex];
		array[currentIndex] = array[randomIndex];
		array[randomIndex] = temporaryValue;
	}

	return array;

};

function arrayRotate(arr, reverse) {
  if (reverse) arr.unshift(arr.pop());
  else arr.push(arr.shift());
  return arr;
}

//builds a 5x5 grid where each row, column, and diagonal add up to the same number
function generate_bingo_template(weights1, weights2){
    var card = [];
    var last1 = weights1;
    var last2 = weights2;
    for( var i =0; i<5 ; i++){
        var row = [];
        for( var j =0; j<5 ; j++){
            row.push(last1[j] + last2[j])
			}
        card.push(row);
        arrayRotate(last1);
		arrayRotate(last1);
        arrayRotate(last2);
		arrayRotate(last2);
		arrayRotate(last2);
		}
    return card;
}
	
function generate_cooler_bingo_template(){
	var n = 60;
	var w1_max = (Math.floor(Math.random()*5915587277)%5)+4; //w1 is the 'small' list, this determines how small compared to w2
    var w2_max = 25 - w1_max;
    var sum1 = Math.floor(w1_max/(25+w1_max)*n); //sum of all elements in w1
    var sum2 = n - sum1;
    var weights1 = evenly_spaced(sum1, 5);
    var weights2 = evenly_spaced(sum2, 5);
	for(var i = 0; i<5 ; i++){
		weights1[i] +=1;
	}
	weights1 = screw_up(weights1, 1, w1_max, 3); //more screwing up means more bias towards the middle range of goals
    weights2 = screw_up(weights2, 0, w2_max, 10);
	//console.log(Math.max(weights1) + Math.max(weights2));
	while (Math.max(...weights1) + Math.max(...weights2) > 25 ){
		//alert(Math.max(...weights1) + Math.max(...weights2));
		weights2 = smoothen(weights2); //emergency check to make sure no goals above 25
	}
	shuffle(weights1);
    shuffle(weights2);
    return generate_bingo_template(weights1, weights2);
}	


function printnewboard(){
//console.log(generate_cooler_bingo_template());

	mumboard =1;
	generate();
	mumboard =0;


}
	
	

  </script>