<!DOCTYPE html>
<html>
<head>
	<title>Banjo-Tooie Bingo</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='5.png') }}"/>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="https://www.google.com/jsapi"></script> <!-- google libraries API -->	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename='js/MumboGen2.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/querystring.js') }}"></script>
	<script src="{{ url_for('static', filename='js/seedrandom-min.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/mumboSetup.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/gimmick.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/shot.js') }}" type="text/javascript"></script>
	<style>
	.middle {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
	.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

	}
	.overlay {
	  background: #2c2f33;
	  position: sticky;
	}
	.start_button {
	  position: fixed;
	  left: 43%;
	  top: 26%;
	}

	.collapsing.width {
	  -webkit-transition-property: width, visibility;
	  transition-property: width, visibility;
	  width: 0;
	  height: auto;
	}

	</style>
	<script type="text/javascript">
		function getCookie(cname) {
		  var name = cname + "=";
		  var decodedCookie = decodeURIComponent(document.cookie);
		  var ca = decodedCookie.split(';');
		  for(var i = 0; i <ca.length; i++) {
			var c = ca[i];
			while (c.charAt(0) == ' ') {
			  c = c.substring(1);
			}
			if (c.indexOf(name) == 0) {
			  return c.substring(name.length, c.length);
			}
		  }
		  return "";
		}		

		let bingoseed=getUrlParameter('seed');
		let type=getUrlParameter('type') || "";

		let bingoversion=type;


	function startBingo() {
		for (i=0; i<25; i++) {  
			$('#slot'+(i+1)).css("color","#bec7d2");
		}
		if (type.includes("shot")) {
			start_fire();
		}
	}
	function hideBingo() {
		for (i=0; i<25; i++) {  
			$('#slot'+(i+1)).css("color","transparent");
		}
	}
	function gim_match_arrays(arrA, arrB){
		for (var i = 0; i < arrA.length; i++){
			for (var j = 0; j < arrB.length; j++){
				if (arrA[i] == arrB[j] && arrA[i] != "" && arrB[j] != ""){
					return true;
				}
			}
		}

		return false;
	}
	function showGim() {
		let gimC = ((getUrlParameter('seed') ) %gim_cant.length);
		let gimM = ((getUrlParameter('seed') *31 ) %gim_must.length);
		let a = 1;
		while (gim_match_arrays(gim_cant[gimC]["tags"],gim_must[gimM]["tags"])){
			gimM = (((getUrlParameter('seed')+a) *31 ) %gim_must.length);
			a++;
		}

		document.getElementById("must").innerHTML = gim_must[gimM]["name"];
		document.getElementById("cant").innerHTML = gim_cant[gimC]["name"];
	}
	
	function start_race() {
		document.getElementById("stop").innerHTML = "Stop";
		startBingo();
		Start_Time = Date.now();
		$('.overlay').fadeOut(800);
		go = 1;
		timer();
	}	
		
	function reseedPage(mode) {
		var qSeed = "?seed=" + Math.ceil(999999 * Math.random());
		var qMode = "&type="+mode;


		window.location = qSeed + qMode;
		return false;
	}
			
	function goals_done(){
		//grab goals as string
		var card_data = "";
		for( var x = 1; x <26;x++){
				for( var i = 1; i<= 25 ;i++){
					for( var j = 0; j< bingoList[i].length ;j++){
						
						if (document.getElementById("slot"+x).innerHTML.replace("&amp;","&").replace("&apos;","'") == bingoList[i][j].name){							
							card_data= card_data+bingoList[i][j].id+"%";
							}
						}
					}
			}

		document.getElementById("card").value = card_data;
		document.getElementById("version").value = ""+bingoList["info"].version+type;
		document.getElementById("cardseed").value = bingoseed;
		document.getElementById("user").value= getCookie("username");
		console.log(document.getElementById("version").value);

		if (type.includes("shit")){
			//build bad list
			let shit_list = [];
			let shit_card = [];
			for( var i = 23; i<= 26 ;i++){
				for( var j = 0; j< bingoList[i].length ;j++) {
					shit_list.push(bingoList[i][j].name);
				}
			}
			console.log(shit_list);
			for(var x = 1; x <26;x++){
				let a = 0;
				while (shit_card.includes(shit_list[((parseInt(bingoseed)*x)+a)%(shit_list.length)])){
				 	a++;
				 }
				shit_card.push(shit_list[((parseInt(bingoseed)*x)+a)%(shit_list.length)]);
				document.getElementById("slot"+x).innerHTML = shit_card[x-1];
			}
		}
		if (type.includes("shot")){
			old_goal= document.getElementById("slot"+stab.toString()).innerHTML;
			document.getElementById("slot"+stab.toString()).innerHTML = '';
			document.getElementById("slot"+stab.toString()).appendChild(canvas);
		}

	}
	function change_settings(){
		let bg = document.getElementById("bg").value;
		let font = document.getElementById("bodyfont").value;
		let textc = document.getElementById("textc").value;
		let bgc = document.getElementById("bgc").value;

		document.getElementsByTagName("html")[0].style.background=bg;
		document.getElementsByTagName("body")[0].style.background=bg;
		document.getElementsByTagName("body")[0].style.fontFamily=font;

		for(let i = 1; i<26; i++){

			document.getElementById("slot"+i).style.setProperty('color',textc);
		}


	}

	
	</script>


</head>
<body>
 <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content" style="background:#2c2f33;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 style="color:red;background:#2c2f33;"><span class="glyphicon glyphicon-time"></span> Submit Bingo</h4>
        </div>
        <div class="modal-body" style="color:#bec7d2;background:#2c2f33;">
			<h1> Enter your Username, Time, and Row/Col to submit your bingo!</h1>
			<br><br>
			<form action='/sendData' method="post">
				<h2>Username:</h2>
				<input class="form-control" id="user" name="user" value="username" type="text" style="background:#5e5e5e;color:white;">
				<br><br>
				<h2>Time:</h2>
					<input class="form-control" id="time" name="time" value="00:00:00" type="text" pattern="[0-9]{2}[:][0-9]{2}[:][0-9]{2}" title="00:00:00 Format" style="background:#5e5e5e;color:white;">
				<br><br>
				<select class="form-control" id="rowcol" name="rowcol" style="background:#5e5e5e;color:white;">
					  <option value="col1">Col 1</option>
					  <option value="col2">Col 2</option>
					  <option value="col3">Col 3</option>
					  <option value="col4">Col 4</option>
					  <option value="col5">Col 5</option>
					  <option value="row1">Row 1</option>
					  <option value="row2">Row 2</option>
					  <option value="row3">Row 3</option>
					  <option value="row4">Row 4</option>
					  <option value="row5">Row 5</option>
					  <option value="tlbr">TL-BR</option>
					  <option value="bltr">BL-TR</option>					  
					</select>
				<br><br>
					<input class="btn btn-primary" type="submit" value="Submit Data" style="background:#5e5e5e;color:white;">
					<input class="newcard" id="card" name="card" value="" type="hidden">
					<input class="newcard" id="cardseed" name="cardseed" value="" type="hidden">
					<input class="newcard" id="version" name="version" value="" type="hidden">
				</form>
        </div>
        <div class="modal-footer" style="background:#2c2f33;">
        </div>
      </div>
    </div>
  </div>
 <!-- Modal -->
 <div class="modal fade" id="settings" role="dialog">
	 <div class="modal-dialog">
		 <!-- Modal content-->
		 <div class="modal-content" style="background:#2c2f33;">
			 <div class="modal-header">
				 <button type="button" class="close" data-dismiss="modal">&times;</button>
				 <h4 style="color:red;background:#2c2f33;"><span class="glyphicon glyphicon-question-sign"></span> Secret Settings</h4>
			 </div>
			 <div class="modal-body" style="color:#bec7d2;background:#2c2f33;">
				 <h2>Page Settings</h2>
				 <p>Page Background</p>
				 <input class="form-control" id="bg"  value="#2c2f33" type="text" style="background:#5e5e5e;color:white;">
				 <p>Page Font</p>
				 <input class="form-control" id="bodyfont"  value="Helvetica" type="text" style="background:#5e5e5e;color:white;">
				 <p>Text Color</p>
				 <input class="form-control" id="textc"  value="#fff" type="text" style="background:#5e5e5e;color:white;">
				 <p>Card Background</p>
				 <input class="form-control" id="bgc"  value="#fff" type="text" style="background:#5e5e5e;color:white;">
				 <br>
				 <button class="btn btn-default" id="setting_change" style="width:180px" onclick="change_settings();">Confirm Settings</button>
				 <br>
				 <br>
				 <h2>Beta: Gimmick Bingo</h2>
				 <p>Generates a new card. At the Bottom there will be 2 new squares, red and green. These are the arbitrary rules you must follow on the card.</p>
				 <p>You <span style="color:red;">CANNOT</span> do what the red says. You <span style="color:green;">MUST</span> do what the green says. Not all rows will be completable.</p>
				 <br>
				 <a class="btn btn-default" href="#" onclick="reseedPage('gim');" style="width:150px;">Gimmick Seed</a>
				 <br>
				 <br>
				 <h2>Multi-Modes</h2>
				 <p>You can build any combination of modes for a seed, if you put all the flags into the URL.</p>
				 <p>Use &[Type]=True or just press these buttons.</p>
				 <a class="btn btn-default" href="#" onclick="reseedPage('shot_race');" style="width:150px;">Shot Race</a>
				 <a class="btn btn-default" href="#" onclick="reseedPage('gimmick_race');" style="width:150px;">Gimmick Race</a>
				 <a class="btn btn-default" href="#" onclick="reseedPage('gimmick_shot_race');" style="width:150px;">Gimmick Shot Race</a>
				 <br>
				 <br>
				 <h2>Shit Seed</h2>
				 <p>Generate a card with goals 23-26 with no tagging done. Try to find something to do in this shit show</p>
				 <a class="btn btn-default" href="#" onclick="reseedPage('shit');" style="width:150px;">Shit</a>
				 <a class="btn btn-default" href="#" onclick="reseedPage('shit_race');" style="width:150px;">Shit Race</a>

			 </div>
			 <div class="modal-footer" style="background:#2c2f33;">
			 </div>
		 </div>
	 </div>
 </div>
 <a class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#settings" style="position:fixed;right:0px;bottom:0px;color:black;"></a>
<div id="wrap"><div id="main">
	<div class="container_main" id="pageContent">
		<div  id="bingoPage" style="display:flex">
			<div  class="collapse width in" id="time_id" style="margin:10px;width:230px;">
				<p></p>
				<table id="bingoSingle" >
					<tr>
						<td class="popout" id="CR_name"></td>
					</tr>
					<tr>
						<td class="row6" id="CR_1"></td> 
					</tr>
					<tr> 
						<td class="row6" id="CR_2"></td> 
					</tr>
					<tr> 
						<td class="row6" id="CR_3"></td> 
					</tr>
					<tr> 
						<td class="row6" id="CR_4"></td> 
					</tr>
					<tr> 
						<td class="row6" id="CR_5"></td> 
					</tr>
				</table>		
			<h1 id="timer_time" style="font-size:350%;width:230px;">00:00:00</h1>
			<p></p>
			<div style="width:230px;">
				<button class="newcard" id="stop" style="width:80px">Start</button>
				<button class="newcard" id="clear" style="width:80px">Reset</button>
			</div>
			<br><br>
			<div id = "gimmicks" style="display:flex">
				<div style="margin:10px;">
					<table  id="gimgoal1" >
						<tr>
							<td  id="must" style="background:green;color:white;height:95px;min-width:95px;width:95px;">Do this</td>
						</tr>
					</table>
				</div>
				<div style="margin:10px;">
					<table  id="gimgoal2" >
						<tr>
							<td  id="cant" style="background:red;color:white;height:95px;min-width:95px;width:95px;">Not this</td>
						</tr>
					</table>
				</div>
			</div>

			</div>
			<div id="results"style="margin:10px;width:500px;" >				

				
				
				<table id="bingo">
					<tr>
						<td class="choice" id="tlbr">TL-BR</td>
						<td class="choice" id="col1">COL1</td>
						<td class="choice" id="col2">COL2</td>
						<td class="choice" id="col3">COL3</td>
						<td class="choice" id="col4">COL4</td>
						<td class="choice" id="col5">COL5</td>
					</tr>
					<tr>
						<td class="choice" id="row1">ROW1</td>
						<td class="row1 col1 tlbr" id="slot1"></td>
						<td class="row1 col2" id="slot2"></td> 
						<td class="row1 col3" id="slot3"></td> 
						<td class="row1 col4" id="slot4"></td> 
						<td class="row1 col5 bltr" id="slot5"></td> 
					</tr>
					<tr> 
						<td class="choice" id="row2">ROW2</td>
						<td class="row2 col1" id="slot6"></td> 
						<td class="row2 col2 tlbr" id="slot7"></td> 
						<td class="row2 col3" id="slot8"></td> 
						<td class="row2 col4 bltr" id="slot9"></td> 
						<td class="row2 col5" id="slot10"></td> 
					</tr>
					<tr> 
						<td class="choice" id="row3">ROW3</td>
						<td class="row3 col1" id="slot11"></td> 
						<td class="row3 col2" id="slot12"></td> 
						<td class="row3 col3 tlbr bltr" id="slot13"></td> 
						<td class="row3 col4" id="slot14"></td> 
						<td class="row3 col5" id="slot15"></td> 
					</tr>
					<tr> 
						<td class="choice" id="row4">ROW4</td>
						<td class="row4 col1" id="slot16"></td> 
						<td class="row4 col2 bltr" id="slot17"></td> 
						<td class="row4 col3" id="slot18"></td> 
						<td class="row4 col4 tlbr" id="slot19"></td> 
						<td class="row4 col5" id="slot20"></td> 
					</tr>
					<tr> 
						<td class="choice" id="row5">ROW5</td>
						<td class="row5 col1 bltr" id="slot21"></td> 
						<td class="row5 col2" id="slot22"></td> 
						<td class="row5 col3" id="slot23"></td> 
						<td class="row5 col4" id="slot24"></td> 
						<td class="row5 col5 tlbr" id="slot25"></td> 
					</tr>
					<tr>
						<td class="choice" id="bltr">BL-TR</td>
					</tr>
				</table>
			<div id="card_info"></div>
			<h2 style="text-align:left;">Generate a new card</h2>
				<p id="sortButtons">
					<a class="newcard" href="#" onclick="reseedPage('')" >Standard Card</a>
					<a class="newcard" href="#" onclick="reseedPage('race');" style="width:100px;">Race</a>
					<a class="newcard" href="#" onclick="reseedPage('short');" style="width:50px">Short</a>
					<a class="newcard" href="#" onclick="reseedPage('long');" style="width:50px;">Long</a>
					<a class="newcard" href="#" onclick="reseedPage('shot');" style="width:50px;">Shot</a>
				</p>
				<p><br></p>
				<p>

					<a class="newcard" data-toggle="modal" data-target="#myModal" style="width:500px;">Submit Bingo</a>
				</p>
				<p><br></p>
				<div style="width:500px;">
					<button role="button" class="newcard" data-toggle="collapse" data-target="#time_id" style="width:30px"><</button>
					<button role="button" class="newcard" data-toggle="collapse" data-target="#about_bingo" style="width:30px;float:right">></button>
				</div>
				<p><br></p>
				<p><br></p>
				<div class ="overlay" id ="over">
					<button class="newcard" id="race_s" style="width:500px;height:75px;" onclick="start_race();">Start Race</button>
				</div>
			
			</div>
			
			
	<div  class="collapse width in" id="about_bingo" style="width:350px;">
		<div class="container">
		  <h1>Banjo-Tooie Bingo</h1>
		  <ul class="nav nav-pills">
			<li class="active"><a data-toggle="tab" href="#home" style="background:#2c2f33;">Rules</a></li>
			<li><a data-toggle="tab" href="#menu1" style="background:#2c2f33;">Cheat Sheet</a></li>
			<li><a data-toggle="tab" href="#menu2" style="background:#2c2f33;">Banjo-Toolie</a></li>
		  </ul>

		  <div class="tab-content">
			<div id="home" class="tab-pane fade in active" style="width:350px;height:500px;">
				<p></p>
				<h2>About Banjo-Tooie Bingo</h2>
					<ul>
						<li>Bingo starts from either an unmanipulated new file or the current Jinjo manipulation file that is used for speedruns.(White in Jade Snake Grove, Orange on Kickball Stadium and Bridge)</li>
						<li>You may use the Cheato cheat "JIGGYWIGGYSPECIAL" to open all the levels.</li>
						<li>You may use DCW (Delayed Cutscene Warp) to advance to areas/bosses early.</li>
						<li>You are not allowed to look at the Bingo card until it begins.</li>
						<li>All of your bingo goals must be accomplished on one game file.</li>
						<li>Any version of the official game is allowed, but NTSC N64 version is highly recommended.</li>
						<li>Timing begins when you enter your file and ends depending on your final goal.</li>
					</ul>

					<p>To win a "Bingo" race, you must complete 5 of the tasks in a row horizontally, vertically, or diagonally.</p>
					<p>The seed number is used to generate the board. Changing the seed will make a new board.</p>
					<p>You can click on the squares to turn them green and red. This may help you organize your route planning.</p>
					<p>	
					<h2>Collectibles</h2>
					<ul>
						<li>timing ends when you touch the final collectible in your row or when counter ticks up automatically (see Dippy)</li>
					</ul>
					<p></p>
					<h2>Warp Pads</h2>
					<ul>
						<li>timing ends when you activate the final Warp Pad and hear the sound</li>
					</ul>
					<p></p>					
					<h2>Moves, Tasks, Mumbo Magic</h2>
					<ul>
						<li>Timing ends when you regain control of Banjo</li>
						<h2>Examples of goals that end this way are...</h2>
						<ul>
							<li>Purchase Blubber's Last Possession</li>
							<li>Stub Biggafoot's Toe</li>
							<li>Emp the Crushers</li>
							<li>Pig Pool Jiggy</li>
						</ul>
					</ul>
					<p></p>	
					<h2>Bosses</h2>
					<ul>
						<li>Timing ends on the same frame you would deal the final tick of damage to the boss</li>
					</ul>
					<p></p>	
					<h2>Train Switches</h2>
					<ul>
						<li>Timing ends on the same frame your game would save / regain control</li>
					</ul>
					<p></p>	
					<h2>Minjos</h2>
					<ul>
						<li>Timing ends when the final Minjo dies, which must be shown or heard on stream.</li>
					</ul>
					<p></p>	
			</div>
			<div id="menu1" class="tab-pane fade">
				<p></p>
				<iframe id="googleDoc" src="https://docs.google.com/document/d/e/2PACX-1vQL_E8NAeoL1H0Iwe_KbtJXnB4e1AXN9L0T21ix4NePssAIkhVHfD98xbUpUo08lIatw1b-H3X1zgaG/pub?embedded=true" style="width:850px;height:760px;"></iframe>
				<p></p>
				<a class="newcard" href="https://docs.google.com/document/d/1g1p-ajc_ze5aIi49mb0AY94q4FRVvcf9WQF7il-XXmQ/edit" target="_blank" style="width:350px;">Cheat Sheet Link</a>   
		   </div>
			<div id="menu2" class="tab-pane fade">
				<p></p>
				<iframe id="toolie" src="https://banjospeedruns.com/bingo-toolie" style="width:850px;height:760px;"></iframe>
			  <p></p>
			  <a class="newcard" href="https://banjospeedruns.com/bingo-toolie" target="_blank" style="width:350px;">Bingo-Toolie</a>
			</div>
		  </div>			
	</div>
	</div>
</div>
	</div>
</div>
</div>
<script>
	var Start_Time =0;
	if (type.includes("race")&& type.includes("gimmick")){

		showGim();
		hideBingo();
	}
	else if (type.includes("gimmick")){
			showGim();
			startBingo();
			document.getElementById("race_s").style.display= "none";
	}
	else if (type.includes("race")){
		document.getElementById("gimmicks").style.display= "none";
		hideBingo();
	}
	else
	{
		document.getElementById("gimmicks").style.display= "none";
		document.getElementById("race_s").style.display= "none";
		startBingo();
	}

	var results = $("#card_info");

	let cardType = "";
	let types_text = bingoversion.split("_");
	if (type == ""){
		cardType = "Standard";
	}

	for (let i = 0; i < types_text.length ; i++){
		cardType = cardType + " " + types_text[i].charAt(0).toUpperCase()+types_text[i].slice(1);
	}

	results.append ("<p>BT Bingo <strong>" + bingoList["info"].version + "</strong>&emsp;Seed: <strong>" +
			bingoseed + "</strong>&emsp;Types: <strong>" + cardType + "</strong></p>");


	//setup before functions
	var typingTimer;                //timer identifier
	var doneTypingInterval = 1000;  //time in ms, 5 second for example
	var $input = $('#user');

	//on keyup, start the countdown
	$input.on('keyup', function () {
	  clearTimeout(typingTimer);
	  typingTimer = setTimeout(doneTyping, doneTypingInterval);
	});

	//on keydown, clear the countdown 
	$input.on('keydown', function () {
	  clearTimeout(typingTimer);
	});

	//user is "finished typing," do something
	function doneTyping () {
	  console.log("cookie created");
	  document.cookie = "username="+document.getElementById("user").value;
	}
		
	var h1 = document.getElementById("timer_time"),
		stop = document.getElementById('stop'),
		clear = document.getElementById('clear'),
		seconds = 0, minutes = 0, hours = 0,
		t;

	function add() {
		seconds= Math.floor((Date.now() - Start_Time)/1000);
		minutes = Math.floor(seconds/60);
		hours = Math.floor(minutes/60);
		seconds=seconds%60;
		minutes=minutes%60;
		
		
		
		h1.innerHTML = (hours ? (hours > 9 ? hours : "0" + hours) : "00") + ":" + (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds);
		timer();
	}
	function timer() {
		t = setTimeout(add, 100);
	}
	
	var go =0;
	


	/* Stop button */
	stop.onclick = function() {
		if (go ==1){
			document.getElementById("time").value=document.getElementById("timer_time").innerHTML;
			document.getElementById("rowcol").value= $('#CR_name').html().toLowerCase().replace("-","");
			clearTimeout(t);
			go = 0;
			document.getElementById("stop").innerHTML = "Start";
		}
		else {
			timer();
			Start_Time = Date.now();
			go = 1;
			document.getElementById("stop").innerHTML = "Stop";
		}
		
	}

	/* Clear button */
	clear.onclick = function() {
		h1.innerHTML = "00:00:00";
		seconds = 0; minutes = 0; hours = 0;
		$('#CR_name').html("");
		for (var i = 0; i < 5; i++) {
          $('#CR_'+(i+1)).html("");
        }
	}		
		
		
</script>
</body>
</html>