<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>YorbSkip</title>

    <!-- Style -->
    <link href="{{ url_for('static', filename='css/bingo.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<link rel="icon" type="image/png" href="{{ url_for('static', filename='5.png') }}"/>
<style>
	body{
	display: block;
	margin-left: auto;
	margin-right: auto;
		background:#2c2f33;
		font-family: 'Open Sans', sans-serif;
	}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
	font-family: 'Open Sans', sans-serif;
	color:#99aab5;
}	
#invite {
	font-family: 'Open Sans', sans-serif;
	background:#23272a;
	border:2px #0a245a solid;
	color:#99aab5;
	font-size:100%;
	font-weight:800;
	line-height: 120%;

}
.circle {
  height: 13px;
  width: 13px;
  background-color: #79E37E;
  border-radius: 50%;
}
.circle2 {
  height: 13px;
  width: 13px;
  background-color: #99aab5;
  border-radius: 50%;
}
</style>
</head>


<body>





<img src="{{ url_for('static', filename='yorbskiplogo.png') }}" style="height:250px;" alt="yorb"class="center">

<div class="center">
<p>"Your one stop place for all your Tooie Web Apps or something" - Konditoner (probably)</p>

<canvas id="myCanvas" style="left:50px" width="900" height="900"></canvas>
</div>
<br>
<br>
<table id="invite" style="width:350px;border:2px;" class="center">
  	<tr>
		<td colspan = "3" id="slot1asd" style="height:20px;"> &ensp; YOU'VE BEEN INVITED TO JOIN A SERVER</td>

	</tr>
  <tr>
    <td colspan = "1" rowspan="2"  id="row7f" style="height:35px;border:0px;"> <img src="{{ url_for('static', filename='5.png') }}" style="height:50px;" alt="red"class="center"></td>
	<td colspan = "2" style="text-align:left" >Sym Squad</td>
	<td colspan = "1" rowspan="2" ><button type="button" class="btn btn-primary" style="background-color:#79E37E;" onclick="meme();" >Join</button></td>
  </tr>
  <tr>
    <td> <div class="circle" style="float: left;"></div> <div style="float: left;"> 18 Online</div> </td>
	<td><div class="circle2" style="float: left;"></div><div style="float: left;"> 37 Members</div> </td>
  </tr>

</table>


<script>

$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
function meme(){
window.location.href = "https://youtu.be/fU_fuJXJmL4?t=18";
}
function bingo(){
window.location.href = $SCRIPT_ROOT +"/bingo?seed="+Math.floor((Math.random()*1000000));
}
function battle(){
window.location.href = $SCRIPT_ROOT +"/tracker";
}
function stats(){
window.location.href = $SCRIPT_ROOT +"/bingoData";
}
function hor(){
window.location.href = $SCRIPT_ROOT +"/HorizontalGoals";
}
function line(){
window.location.href = $SCRIPT_ROOT +"/lines";
}
function sr(){
window.location.href = "https://banjospeedruns.com/home.html";
}

var pos = 0;
var click = 0
var text_width = 0;
var text_width2 = 0;
var text_width3 = 0;
var text_width4 = 0;
var text_width5 = 0;
var text_width6 = 0;
var vertical = 0;

var grunty = new Image(100, 100);
grunty.src = "{{ url_for('static', filename='grunty.png') }}";

var king = new Image(100, 100);
king.src = "{{ url_for('static', filename='king.png') }}";

var weldar = new Image(100, 100);
weldar.src = "{{ url_for('static', filename='weldar.png') }}";

var heggy = new Image(100, 100);
heggy.src = "{{ url_for('static', filename='heggy.png') }}";

var al = new Image(100, 100);
al.src = "{{ url_for('static', filename='al.png') }}";

var roy = new Image(100, 100);
roy.src = "{{ url_for('static', filename='roy.png') }}";

var c = document.getElementById("myCanvas");
var ctx = c.getContext("2d");
c.addEventListener("mousemove", function(e) { 
pos = getMousePos(c, e)
});

c.addEventListener("mousedown", function(e) { 
click = getMousePos(c, e)
});

function refresh(){
	
	if (text_width < 750){
		text_width += 50;
	}
	if (text_width2 < 750 && vertical > 150){
		text_width2 += 50;
	}
	if (text_width3 < 750 && vertical > 310){
		text_width3 += 50;
	}	
	if (text_width4 < 750 && vertical > 470){
		text_width4 += 50;
	}
	if (text_width5 < 750 && vertical > 630){
		text_width5 += 50;
	}
	if (text_width6 < 750 && vertical > 790){
		text_width6 += 50;
	}	
	if (vertical < 900){
		ctx.globalAlpha = 0.9;
		ctx.fillStyle = "black";
		ctx.beginPath();
		ctx.arc(60, 60+ vertical, 50, 0, 2 * Math.PI);
		ctx.fillStyle = "black";
		ctx.fill();		
		
		vertical += 50;
	}	
	


ctx.clearRect(0, 0, 900, 900);
	
	
	if ( click.y > 10 && click.y < 110) {
		bingo();
		click.y=0;
	}	
	if ( click.y > 160 && click.y < 260) {
		battle();
		click.y=0;
	}		
	if ( click.y > 310 && click.y < 410) {
		stats();
		click.y=0;
	}		
	if ( click.y > 470 && click.y < 570) {
		line();
		click.y=0;
	}	
	if ( click.y > 630 && click.y < 730) {
		hor();
		click.y=0;
	}
	if ( click.y > 790 && click.y < 890) {
		sr();
		click.y=0;
	}
	
	// Draw 1
	if ( pos.y > 10 && pos.y < 110) {
	ctx.globalAlpha = 0.9;
	}
	else
	{
	ctx.globalAlpha = 0.5;
	}
	ctx.fillStyle = "black";
	ctx.fillRect(60, 10, text_width, 100);
	ctx.beginPath();
	ctx.arc(60, 60, 50, 0.5 *Math.PI, 1.5 * Math.PI);
	ctx.fillStyle = "black";
	ctx.fill();
	ctx.beginPath();
	ctx.arc(60+ text_width, 60, 50, 1.5 * Math.PI, 2.5 * Math.PI);
	ctx.fillStyle = "black";
	ctx.fill();
	ctx.globalAlpha = 1;
	ctx.drawImage(grunty, 10, 10, 100, 100);
	if (text_width >= 750){
		ctx.fillStyle = "white"
		ctx.font = "50px Open Sans";
		ctx.fillText("Banjo-Tooie Bingo", 110, 80);
		
	}
	
	// Draw 2
	if (vertical > 150 ){
	
		if ( pos.y > 160 && pos.y < 260) {
		ctx.globalAlpha = 0.9;
		}
		else
		{
		ctx.globalAlpha = 0.5;
		}
		ctx.fillStyle = "black";
		ctx.fillRect(60, 10 + 150, text_width2 , 100);
		ctx.beginPath();
		ctx.arc(60, 60 +150, 50, 0.5 *Math.PI, 1.5 * Math.PI);
		ctx.fillStyle = "black";
		ctx.fill();
		ctx.beginPath();
		ctx.arc(60+ text_width2, 60 +150, 50, 1.5 * Math.PI, 2.5 * Math.PI);
		ctx.fillStyle = "black";
		ctx.fill();
		ctx.globalAlpha = 1;
		ctx.drawImage(king, 10, 10 +150, 100, 100);
		if (text_width2 >= 750){
			ctx.fillStyle = "white"
			ctx.font = "50px Open Sans";
			ctx.fillText("Item Tracker", 110, 80 +150);
			
		}	
	}

	// Draw 3
	if (vertical > 310 ){
	
		if ( pos.y > 310 && pos.y < 410) {
		ctx.globalAlpha = 0.9;
		}
		else
		{
		ctx.globalAlpha = 0.5;
		}
		ctx.fillStyle = "black";
		ctx.fillRect(60, 10 + 310, text_width3 , 100);
		ctx.beginPath();
		ctx.arc(60, 60 +310, 50, 0.5 *Math.PI, 1.5 * Math.PI);
		ctx.fillStyle = "black";
		ctx.fill();
		ctx.beginPath();
		ctx.arc(60+ text_width3, 60 +310, 50, 1.5 * Math.PI, 2.5 * Math.PI);
		ctx.fillStyle = "black";
		ctx.fill();
		ctx.globalAlpha = 1;
		ctx.drawImage(weldar, 10, 10 +310, 100, 100);
		if (text_width3 >= 750){
			ctx.fillStyle = "white"
			ctx.font = "50px Open Sans";
			ctx.fillText("Bingo Data", 110, 80 +310);
			
		}	
	}

	// Draw 4
	if (vertical > 470 ){
	
		if ( pos.y > 470 && pos.y < 570) {
		ctx.globalAlpha = 0.9;
		}
		else
		{
		ctx.globalAlpha = 0.5;
		}
		ctx.fillStyle = "black";
		ctx.fillRect(60, 10 + 470, text_width4 , 100);
		ctx.beginPath();
		ctx.arc(60, 60 +470, 50, 0.5 *Math.PI, 1.5 * Math.PI);
		ctx.fillStyle = "black";
		ctx.fill();
		ctx.beginPath();
		ctx.arc(60+ text_width4, 60 +470, 50, 1.5 * Math.PI, 2.5 * Math.PI);
		ctx.fillStyle = "black";
		ctx.fill();
		ctx.globalAlpha = 1;
		ctx.drawImage(heggy, 10, 10 +470, 100, 100);
		if (text_width4 >= 750){
			ctx.fillStyle = "white"
			ctx.font = "50px Open Sans";
			ctx.fillText("Bit Clip Line Generator", 110, 80 +470);
			
		}	
	}
	
	// Draw 5
	if (vertical > 630 ){
	
		if ( pos.y > 630 && pos.y < 730) {
		ctx.globalAlpha = 0.9;
		}
		else
		{
		ctx.globalAlpha = 0.5;
		}
		ctx.fillStyle = "black";
		ctx.fillRect(60, 10 + 630, text_width5 , 100);
		ctx.beginPath();
		ctx.arc(60, 60 +630, 50, 0.5 *Math.PI, 1.5 * Math.PI);
		ctx.fillStyle = "black";
		ctx.fill();
		ctx.beginPath();
		ctx.arc(60+ text_width5, 60 +630, 50, 1.5 * Math.PI, 2.5 * Math.PI);
		ctx.fillStyle = "black";
		ctx.fill();
		ctx.globalAlpha = 1;
		ctx.drawImage(al, 10, 10 +630, 100, 100);
		if (text_width5 >= 750){
			ctx.fillStyle = "white"
			ctx.font = "50px Open Sans";
			ctx.fillText("Horizontal Goals", 110, 80 +630);
			
		}	
	}	

	// Draw 6
	if (vertical > 790 ){
	
		if ( pos.y > 790 && pos.y < 890) {
		ctx.globalAlpha = 0.9;
		}
		else
		{
		ctx.globalAlpha = 0.5;
		}
		ctx.fillStyle = "black";
		ctx.fillRect(60, 10 + 790, text_width6 , 100);
		ctx.beginPath();
		ctx.arc(60, 60 +790, 50, 0.5 *Math.PI, 1.5 * Math.PI);
		ctx.fillStyle = "black";
		ctx.fill();
		ctx.beginPath();
		ctx.arc(60+ text_width6, 60 +790, 50, 1.5 * Math.PI, 2.5 * Math.PI);
		ctx.fillStyle = "black";
		ctx.fill();
		ctx.globalAlpha = 1;
		ctx.drawImage(roy, 10, 10 +790, 100, 100);
		if (text_width6 >= 750){
			ctx.fillStyle = "white"
			ctx.font = "50px Open Sans";
			ctx.fillText("Banjo Speedruns Website", 110, 80 +790);
			
		}	
	}	
	
	
	
	
	
	
	
	
	
}


function getMousePos(canvas, evt) {
	var rect = canvas.getBoundingClientRect();
	return {
	  x: evt.clientX - rect.left,
	  y: evt.clientY - rect.top
	};
}

setInterval(refresh, 60);
</script>


</body>
</html>

