<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>YorbSkip</title>

    <!-- Style -->
    <link href="{{ url_for('static', filename='css/bingo.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script "{{ url_for('static', filename='js/iframe2image.min.js') }}" type="text/javascript"></script>
<link rel="icon" type="image/png" href="{{ url_for('static', filename='6.png') }}"/>

<style>
	body{
	display: block;
	margin-left: auto;
	margin-right: auto;
		background:#2c2f33;
		font-family: 'Open Sans', sans-serif;
		color:#99aab5;
	}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
	font-family: 'Open Sans', sans-serif;
	color:#99aab5;
}	
#invite {
	font-family: 'Open Sans', sans-serif;
	background:#23272a;
	border:2px #0a245a solid;
	color:#99aab5;
	font-size:100%;
	font-weight:800;
	line-height: 120%;

}
.circle {
  height: 13px;
  width: 13px;
  background-color: #79E37E;
  border-radius: 50%;
}
.circle2 {
  height: 13px;
  width: 13px;
  background-color: #99aab5;
  border-radius: 50%;
}

</style>
</head>
<body>
<input type="file" id="imageLoader" name="imageLoader"/>
<textarea align="right" rows="40" cols="120"style="height:400px;width:50px;font-size:14pt;" id="goals" type="text" name="goals">
35
29
18
-35
-29
-18
</textarea>
	

<canvas  id="myCanvas" ></canvas>









  
<script>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

'use strict';
const canvas = window.canvas = document.querySelector('canvas');
var ctx = canvas.getContext("2d");
var videoElement = document.getElementById("vid1");


var imageLoader = document.getElementById('imageLoader');
    imageLoader.addEventListener('change', handleImage, false);

var img = new Image();

function handleImage(e){
    var reader = new FileReader();
    reader.onload = function(event){
        
        img.onload = function(){
            canvas.width = img.width;
            canvas.height = img.height;
            ctx.drawImage(img,0,0);
			getFrame();
        }
        img.src = event.target.result;
    }
    reader.readAsDataURL(e.target.files[0]);     
}




function getFrame() {
  
	
  
  //find corner
  var xc = 0;
  var yc = 0;
  // top
  var middle = img.width / 2;
  var found = true;
  var i = 0;
  while(found){
	var pixel = ctx.getImageData(middle,i,1,1);
  
	if( (pixel.data[0] > 70 && pixel.data[0] < 80) && (pixel.data[1] > 70 && pixel.data[1] < 80)&& (pixel.data[2] > 80 && pixel.data[2] < 90))
	{
	found = false;
		yc = i;
		
	}
	else{
		i++;
	}
	if (i > 1000){found = false}
  }
  //console.log(yc+ " "+ ctx.getImageData(img.width / 2,yc,1,1).data)
  //side
  middle = yc;
  found = true;
  i = 0;
  while(found){
	var pixel = ctx.getImageData(i,middle,1,1);
	//console.log(ctx.getImageData(i,middle,1,1).data)
	if( (pixel.data[0] > 70 && pixel.data[0] < 80) && (pixel.data[1] > 70 && pixel.data[1] < 80)&& (pixel.data[2] > 80 && pixel.data[2] < 90))
	{
		found = false;
		xc = i;		
	}
	else{
		i++;
	}
	
	if (i > 1000){found = false}
  } 


  
  console.log(xc+' '+yc)
  
  //get the scale of the image
  var imageW = img.width - xc;
  var imageH = img.height - yc;
  
  console.log(imageW+' '+imageH)
  
  var scaleX = imageW/975;
  var scaleY = imageH/754;
  
  var unit = scaleX * 4.75;
  
	ctx.clearRect(0, 0, img.width, img.height);
	
	var obj = document.getElementById("goals").value.split('\n');
	
	
	for(var i = 0; i < obj.length ; i ++)
	{
		ctx.fillStyle = "black";
		if (parseInt(obj[i]) <= 0 )
		{		
			ctx.fillRect( (xc +445) + (parseInt(obj[i]) * unit), (yc + (imageH/2))*scaleY - 50, -10, 100);	
		}
		else
		{
			ctx.fillRect( (xc +528) + (parseInt(obj[i]) * unit), (yc + (imageH/2))*scaleY - 50, 10, 100);	
		}
	
	}
	
	//draw 35
	//ctx.fillStyle = "black";
	//ctx.fillRect((xc+280) * scaleX , (yc + (imageH/2))*scaleY - 50, -10, 100);
	
	//ctx.fillRect((xc+693) * scaleX , (yc + (imageH/2))*scaleY - 50, 10, 100);
	
	// 29
	//ctx.fillRect((xc+)* scaleX, (yc + (imageH/2))*scaleY - 50, -10, 100);
	
	//ctx.fillRect((xc+665) * scaleX , (yc + (imageH/2))*scaleY - 50, 10, 100);
	
	//18
	//ctx.fillRect((xc+)* scaleX,  (yc + (imageH/2))*scaleY - 50, -10, 100);
  
	//ctx.fillRect((xc+615) * scaleX , (yc + (imageH/2))*scaleY - 50, 10, 100);
  
  
  
}

function makepop(){
	var dataURL = canvas.toDataURL();
	window.open($SCRIPT_ROOT+'/lines_popout#'+ name +'='+ dataURL,"_blank","toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=704, height=480");

}
function makelines(){
setInterval(getFrame, 33);
}



</script>


</body>
</html>
