<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='5.png') }}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <meta charset="UTF-8">
    <title>Patterns</title>
    <style>
        body{
            padding-right: 30px;
            padding-left: 30px;
            padding-top: 5px;
            background:#2c2f33;
            color:#9c9c9c;
        }
        td {
        background:#000811;
        color:#bec7d2;
        height:30px;
        width:40px;
        min-height:30px;
        min-width:40px;
        max-height:30px;
        max-width:40px;
        text-align:center;
        cursor:pointer;
    }
    </style>
</head>
<body>

        <p>This Script Generates Jinjo Families by the time it takes to get them.</p>
        <br>
        <div id="result"></div>
        <br>
        <div id="all"></div>
        <table>
        </table>
        
    </div>


<script>
    color_map= ["white","orange","yellow","brown","green","red","blue","purple","black"];
    patterns = [
    [7,5,5,8,5,3,8,6,8,7,8,5,2,1,4,4,3,5,5,0,6,3,8,4,3,8,4,8,7,8,4,1,2,2,6,7,6,7,8,7,6,7,7,6,6],
    [0,6,6,1,3,5,7,3,4,7,5,6,4,8,7,8,5,5,4,8,1,2,3,2,3,2,4,7,4,8,8,8,7,7,6,7,5,8,5,7,6,8,8,6,6],
    [4,1,1,5,4,8,4,2,6,3,5,4,7,6,6,6,7,5,2,3,6,2,5,3,3,8,4,6,5,6,5,0,8,7,7,8,7,7,7,7,8,8,8,8,8],
    [5,1,2,7,1,2,5,3,0,7,2,5,8,8,3,5,7,7,3,7,6,8,7,4,8,4,3,8,6,8,5,4,6,8,7,8,6,8,5,7,4,6,4,6,6],
    [5,3,7,6,5,6,6,8,7,4,1,1,8,4,0,6,5,3,7,6,3,5,5,6,7,2,8,3,6,2,4,5,7,4,8,7,2,4,7,7,8,8,8,8,8],
    [7,3,0,8,2,8,7,2,1,3,7,4,3,5,2,1,6,4,6,7,4,6,7,6,6,7,3,5,4,5,4,8,8,8,6,7,8,5,8,7,6,5,8,5,8],
    [2,8,4,3,3,2,2,4,4,7,5,1,1,3,8,4,6,3,7,5,7,6,8,4,5,8,7,5,0,7,5,8,5,6,7,6,6,7,8,6,7,8,8,8,6],
    [3,8,5,5,0,4,3,6,8,4,4,5,3,6,4,8,4,1,8,1,3,5,6,2,8,2,6,8,6,5,8,6,7,2,8,5,8,6,7,7,7,7,7,7,7],
    [2,4,6,7,0,3,7,8,6,4,7,5,7,2,7,1,1,3,3,6,2,8,5,8,4,3,8,8,6,7,5,4,8,6,6,6,5,8,4,7,7,8,8,5,5],
    [3,4,7,0,7,2,3,8,2,2,4,7,1,6,7,5,3,5,7,3,7,5,8,7,5,4,8,6,4,6,1,7,4,8,8,8,8,8,6,8,5,6,5,6,6],
    [7,0,2,4,8,5,8,3,5,8,7,7,4,4,8,4,3,3,3,4,6,8,1,8,1,5,6,5,6,7,6,5,8,2,2,5,8,6,8,6,7,6,7,7,7],
    [0,3,6,5,8,8,4,8,5,8,7,2,6,8,1,1,8,3,8,4,6,2,7,6,6,7,2,4,3,7,7,6,5,3,6,5,4,8,7,8,5,5,7,7,4],
    [0,2,5,2,1,1,6,3,6,3,7,3,7,2,7,6,3,8,7,6,8,7,7,7,7,4,5,5,4,6,5,8,6,4,5,8,8,6,5,8,4,4,8,8,8],
    [2,2,1,8,6,5,1,2,8,6,3,5,4,5,4,7,7,6,0,4,6,4,3,7,7,3,5,5,3,4,8,5,8,7,7,7,6,8,7,6,8,6,8,8,8],
    [5,7,5,2,7,8,5,6,4,6,2,3,3,7,0,4,1,4,7,4,3,6,1,5,7,7,5,7,2,5,8,7,3,4,8,6,6,6,6,8,8,8,8,8,8],
    [7,7,6,4,5,1,6,7,7,2,1,3,7,0,4,6,7,7,7,3,6,5,2,6,2,3,5,6,4,3,4,4,8,8,8,6,5,8,8,5,8,8,8,5,8],
    [0,1,8,7,1,6,6,4,2,2,2,3,4,3,6,3,4,5,4,4,3,5,6,8,5,5,5,6,7,8,6,8,8,7,7,6,7,8,5,7,7,8,8,8,7],
    [2,1,2,1,5,3,6,8,7,8,2,7,7,7,4,3,7,4,5,8,5,6,3,0,8,4,4,4,8,6,6,8,6,3,6,8,5,5,6,5,7,7,7,8,8],
    [5,5,6,4,6,7,1,2,1,5,6,2,5,5,2,0,5,4,3,7,3,8,6,7,8,3,7,3,6,6,6,4,7,7,7,7,4,8,4,8,8,8,8,8,8],
    [7,5,7,6,3,0,2,4,4,1,5,2,4,5,6,1,4,7,5,5,8,3,8,8,8,8,2,6,7,3,7,5,3,8,4,6,7,6,8,8,8,6,7,6,7],
    [7,7,4,6,7,4,3,0,2,8,4,6,7,8,6,3,4,8,2,8,1,6,1,8,8,7,6,8,4,8,2,6,3,8,5,3,6,5,5,7,7,5,5,7,5],
    [0,7,5,8,4,6,4,1,6,5,3,6,4,1,3,8,6,2,7,2,5,5,2,4,4,6,5,3,7,8,3,5,8,7,8,6,7,7,8,8,6,7,8,8,7],
    [4,3,0,2,5,1,8,5,8,2,8,6,2,4,1,7,6,6,8,4,5,4,7,6,5,6,3,6,7,6,3,8,4,3,7,7,5,8,8,5,7,8,8,7,7],
    [5,3,1,5,3,3,0,6,3,7,7,6,6,6,5,1,2,8,8,8,2,5,2,4,8,8,6,5,5,6,4,6,4,8,4,8,4,8,7,7,8,7,7,7,7],
    [4,8,2,7,3,7,0,8,3,1,7,4,6,1,4,5,8,2,2,7,3,6,6,4,6,8,5,5,4,3,7,7,7,6,7,8,5,5,6,8,8,8,8,6,5],
    [5,8,3,0,1,6,6,6,4,1,4,5,6,2,4,2,6,5,4,8,3,7,7,5,2,5,7,3,8,8,5,7,6,4,8,7,6,8,7,3,7,8,7,8,8],
    [0,4,7,3,1,4,5,4,3,2,4,8,7,3,5,8,1,2,3,8,6,4,8,5,8,2,6,6,5,7,8,5,5,7,8,6,7,7,6,8,8,7,7,6,6],
    [2,4,0,5,7,6,5,5,4,2,4,3,7,7,5,6,2,8,8,7,4,6,4,3,1,6,6,6,6,7,3,5,1,3,8,5,7,7,7,8,8,8,8,8,8],
    [2,6,5,5,2,1,7,1,6,0,3,4,7,2,6,5,4,5,3,5,5,4,7,3,6,3,8,8,4,7,7,7,6,8,8,6,4,8,7,6,8,7,8,8,8],
    [3,6,6,7,8,3,7,2,5,3,8,8,7,7,2,2,8,5,6,7,8,5,0,7,6,4,7,7,8,4,1,1,5,8,4,6,6,5,8,4,3,8,4,5,6],
    [7,2,1,2,0,7,3,6,8,4,8,5,1,5,2,6,4,7,3,8,3,5,5,3,4,6,7,5,4,8,5,4,7,8,7,7,6,7,6,6,8,6,8,8,8],
    [0,2,2,4,7,3,7,2,6,4,8,3,4,3,7,6,5,5,8,6,6,4,8,3,1,5,5,5,5,1,6,7,4,6,6,7,7,7,8,7,8,8,8,8,8],
    ];

    timemap = [["JSG",4],["KSR",4],["Temple",8],["Pool",8],["Bridge",0],["JRL Pipe",9],["Jails",10],["Toxic GC",20],["Boulder",12],["Minecart",4],["Big Top",0],["CoH",44],
                ["Area 51",16],["Dodgem",9],["CoS",5],["Cove",8],["Blubbers",3],["Big Fish",12],["Seaweed",30],["Chest",2],["TT cage",13],["near entrance",7],["Near Unga",12],
                ["Trex",14],["Stomp",6],["Floor 5",10],["Floor 2",50],["Toxic Waste",4],["Floor 3",21],["Roof",11],["Waterfall",7],["Lava Pool",27],["Windy Hole",0],["Icicle Grotto",25.8],
                ["Mildred",0],["Trasn Can",0],["Cheese Wedge",0],["CC",7],["Minjy",1],["Wumba",2.8],["WH",14],["Wasteland",8],["CT",11],["Plataeu",6],["SM",29]];
    
    var pick_color = 0;
    var longest = -1;
    var long_pat = -1;
    var long_time = 0;

    var final_time = 0;
    var final_pat = 0;
    var final_color = 0;

    var times = []

    function find_long(){
        for(pick_color = 0; pick_color < 9; pick_color++) {            
            var color_time = 0
            for(i = 0; i < patterns.length; i++) {
                var cur_long_time = 0;
                for(j = 0; j < patterns[i].length; j++) {
                    if(patterns[i][j] == pick_color){
                        cur_long_time += timemap[j][1]
                    }
                }
                if (cur_long_time>long_time){
                    long_time = cur_long_time;
                    long_pat = i;
                }
                times.push({"color": pick_color,"pattern": i,"time":cur_long_time,"jinjos":patterns[i]})
            }
            if (long_time> final_time){
                    final_time = long_time;
                    final_pat = long_pat;
                    final_color = pick_color;
                }
                        

        }
    
        var s = "<table><tr>";
            for(j = 0; j < timemap.length; j++) { 
                s = s +"<td style='height:100px;width:40px;min-height:100px;min-width:40px;max-height:100px;max-width:40px;border:1px white solid;'>"+timemap[j][0]+"</td>";
                }
         s += "</tr></table>";
         document.getElementById("result").innerHTML = s;
    
        times.sort(function(a, b){return b.time-a.time}) 

        for(i = 0; i < times.length; i++) {
        document.getElementById("all").innerHTML = document.getElementById("all").innerHTML +color_map[times[i]["color"]]+", Time: "+times[i]["time"]+" "+array_table(times[i]["jinjos"])+"<br>";
        }
    
    }

    function array_table(x) {
        var tab = "<table><tr>";
            for(j = 0; j < x.length; j++) { 
                tab = tab+"<td style='background:"+color_map[x[j]]+"'></td>";
                }
        tab += "</tr></table>";
        return tab;
    }
    
    find_long();
</script>


</body>
</html>


