<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='5.png') }}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <meta charset="UTF-8">
    <title>Control Panel</title>
</head>
<body>
<button class="btn btn-primary" id="racebutton" type="button" onclick="start_clock()">Start Race</button>

<button class="btn btn-danger" id="racebutton" type="button" onclick="reset_clock()">Stop Race</button>

<script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    function start_clock(){

            $.getJSON($SCRIPT_ROOT + '/_timerStart', {

            }, function(data) {

            });

    }
    function reset_clock(){

        $.getJSON($SCRIPT_ROOT + '/_timerStop', {

        }, function(data) {

        });

    }
</script>


</body>
</html>